In [1]:
'''테크닉1 : 데이터를 읽어 들이자'''

customer_master = pd.read_csv("./pyda100-master/Chapter_1/customer_master.csv")
customer_master.head()

,customer_id,customer_name,registration_date,email,gender,age,birth,pref
0,IK152942,김서준,2019-01-01 0:25,hirata_yuujirou@example.com,M,29,1990-06-10,대전광역시
1,TS808488,김예준,2019-01-01 1:13,tamura_shiori@example.com,F,33,1986-05-20,인천광역시
2,AS834628,김도윤,2019-01-01 2:00,hisano_yuki@example.com,F,63,1956-01-02,광주광역시
3,AS345469,김시우,2019-01-01 4:48,tsuruoka_kaoru@example.com,M,74,1945-03-25,인천광역시
4,GD892565,김주원,2019-01-01 4:54,oouchi_takashi@example.com,M,54,1965-08-05,울산광역시

In [2]:
item_master = pd.read_csv("./pyda100-master/Chapter_1/item_master.csv")
item_master.head()

  item_id item_name  item_price
0    S001      PC-A       50000
1    S002      PC-B       85000
2    S003      PC-C      120000
3    S004      PC-D      180000
4    S005      PC-E      210000

In [3]:
transaction_1 = pd.read_csv("./pyda100-master/Chapter_1/transaction_1.csv")
transaction_2 = pd.read_csv("./pyda100-master/Chapter_1/transaction_2.csv")
transaction_1.head()

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [4]:
transaction_detail_1 = pd.read_csv("./pyda100-master/Chapter_1/transaction_detail_1.csv")
transaction_detail_2 = pd.read_csv("./pyda100-master/Chapter_1/transaction_detail_2.csv")
transaction_detail_1.head()

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2

In [5]:
'''테크닉2 : 데이터를 결합(유니언)해 보자'''

transaction = pd.concat([transaction_1, transaction_2])
print("transaction_1 length :", len(transaction_1))
print("transaction_2 length :", len(transaction_2))
print("transaction length :", len(transaction))
transaction.head()

transaction_1 length : 5000
transaction_2 length : 1786
transaction length : 6786

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [6]:
transaction_detail = pd.concat([transaction_detail_1, transaction_detail_2])
print("transaction_detail_1 length :", len(transaction_detail_1))
print("transaction_detail_2 length :", len(transaction_detail_2))
print("transaction_detail length :", len(transaction_detail))
transaction_detail.head()

transaction_detail_1 length : 5000
transaction_detail_2 length : 2144
transaction_detail length : 7144

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2

In [7]:
'''테크닉3 : 매출 데이터끼리 결합(조인)해 보자'''

join_data = pd.merge(transaction_detail, transaction.loc[:, ["transaction_id", "payment_date", "customer_id", "price"]], on = "transaction_id", how = "left")
join_data.head()

,detail_id,transaction_id,item_id,quantity,payment_date,customer_id,price
0,0,T0000000113,S005,1,2019-02-01 01:36:57,PL563502,210000
1,1,T0000000114,S001,1,2019-02-01 01:37:23,HD678019,50000
2,2,T0000000115,S003,1,2019-02-01 02:34:19,HD298120,120000
3,3,T0000000116,S005,1,2019-02-01 02:47:23,IK452215,210000
4,4,T0000000117,S002,2,2019-02-01 04:33:46,PL542865,170000

In [8]:
'''테크닉4 : 마스터데이터를 결합(조인)해보자'''

join_data = pd.merge(join_data, customer_master, on="customer_id", how="left")
join_data = pd.merge(join_data, item_master, on="item_id", how="left")
join_data.head()

,detail_id,transaction_id,item_id,quantity,payment_date,customer_id,price,customer_name,registration_date,email,gender,age,birth,pref,item_name,item_price
0,0,T0000000113,S005,1,2019-02-01 01:36:57,PL563502,210000,김태경,2019-01-07 14:34,imoto_yoshimasa@example.com,M,30,1989-07-15,대전광역시,PC-E,210000
1,1,T0000000114,S001,1,2019-02-01 01:37:23,HD678019,50000,김영웅,2019-01-27 18:00,mifune_rokurou@example.com,M,73,1945-11-29,서울특별시,PC-A,50000
2,2,T0000000115,S003,1,2019-02-01 02:34:19,HD298120,120000,김강현,2019-01-11 8:16,yamane_kogan@example.com,M,42,1977-05-17,광주광역시,PC-C,120000
3,3,T0000000116,S005,1,2019-02-01 02:47:23,IK452215,210000,김주한,2019-01-10 5:07,ikeda_natsumi@example.com,F,47,1972-03-17,인천광역시,PC-E,210000
4,4,T0000000117,S002,2,2019-02-01 04:33:46,PL542865,170000,김영빈,2019-01-25 6:46,kurita_kenichi@example.com,M,74,1944-12-17,광주광역시,PC-B,85000

In [9]:
join_columns = list(join_data.columns)
# print(join_columns)
payment_date_index = join_columns.index("payment_date")
item_price_index = join_columns.index("item_price")

join_columns[payment_date_index] = "item_price"
join_columns[item_price_index] = "payment_date"

quantity_index = join_columns.index("quantity")
item_price_index = join_columns.index("item_price")

join_columns[quantity_index] = "item_price"
join_columns[item_price_index] = "quantity"

customer_id_index = join_columns.index("customer_id")
price_index = join_columns.index("price")

join_columns[customer_id_index] = "price"
join_columns[price_index] = "customer_id"

join_data = join_data[join_columns]

del join_data["price"]
join_data

,detail_id,transaction_id,item_id,item_price,quantity,price,customer_id,customer_name,registration_date,email,gender,age,birth,pref,item_name,payment_date
0,0,T0000000113,S005,210000,1,210000,PL563502,김태경,2019-01-07 14:34,imoto_yoshimasa@example.com,M,30,1989-07-15,대전광역시,PC-E,2019-02-01 01:36:57
1,1,T0000000114,S001,50000,1,50000,HD678019,김영웅,2019-01-27 18:00,mifune_rokurou@example.com,M,73,1945-11-29,서울특별시,PC-A,2019-02-01 01:37:23
2,2,T0000000115,S003,120000,1,120000,HD298120,김강현,2019-01-11 8:16,yamane_kogan@example.com,M,42,1977-05-17,광주광역시,PC-C,2019-02-01 02:34:19
3,3,T0000000116,S005,210000,1,210000,IK452215,김주한,2019-01-10 5:07,ikeda_natsumi@example.com,F,47,1972-03-17,인천광역시,PC-E,2019-02-01 02:47:23
4,4,T0000000117,S002,85000,2,170000,PL542865,김영빈,2019-01-25 6:46,kurita_kenichi@example.com,M,74,1944-12-17,광주광역시,PC-B,2019-02-01 04:33:46
5,5,T0000000118,S003,120000,1,120000,GD372798,김희원,2019-01-24 7:40,fujimura_mitsunori@example.com,M,36,1983-07-18,서울특별시,PC-C,2019-02-01 04:36:50
6,6,T0000000119,S004,180000,1,180000,IK782104,김상준,2019-01-14 11:46,enomoto_kaoru@example.com,M,58,1960-08-10,대구광역시,PC-D,2019-02-01 05:25:18
7,7,T0000000120,S001,50000,1,50000,IK624245,김다원,2019-01-16 7:24,ezaki_girolamo@example.com,M,67,1951-08-24,서울특별시,PC-A,2019-02-01 06:22:39
8,8,T0000000121,S005,210000,1,210000,HD218970,김성훈,2019-01-08 18:22,okada_toshiya@example.com,M,23,1996-06-11,광주광역시,PC-E,2019-02-01 06:40:14
9,9,T0000000122,S002,85000,1,85000,AS912483,김태우,2019-01-09 9:06,tamayama_masami@example.com,F,22,1997-04-26,인천광역시,PC-B,2019-02-01 08:10:23
10,10,T0000000123,S001,50000,1,50000,OA336650,김지훈,2019-01-01 15:57,yasuda_naoto@example.com,M,68,1950-08-13,대전광역시,PC-A,2019-02-01 09:32:27
11,11,T0000000124,S003,120000,1,120000,OA207651,김윤우,2019-01-02 15:56,kanezawa_tomoka@example.com,F,72,1947-03-01,울산광역시,PC-C,2019-02-01 11:27:33
12,12,T0000000125,S004,180000,1,180000,TS419694,김강윤,2019-01-30 13:53,sugiura_youko@example.com,F,69,1950-07-11,서울특별시,PC-D,2019-02-01 13:14:47
13,13,T0000000126,S002,85000,2,170000,HD068817,김우빈,2019-01-04 3:01,hori_atsushi@example.com,M,68,1951-05-17,인천광역시,PC-B,2019-02-01 13:46:10
14,14,T0000000127,S002,85000,1,85000,OA041301,김주안,2019-01-05 23:48,takabata_sanma@example.com,M,32,1986-12-28,광주광역시,PC-B,2019-02-01 14:14:13
15,15,T0000000128,S005,210000,1,210000,IK234815,김진영,2019-01-15 1:08,watabe_ryou@example.com,M,68,1951-07-27,서울특별시,PC-E,2019-02-01 17:20:02
16,16,T0000000129,S001,50000,1,50000,TS146087,김세찬,2019-01-29 13:34,jinbo_haruka@example.com,F,48,1970-09-27,인천광역시,PC-A,2019-02-01 18:08:59
17,17,T0000000130,S005,210000,1,210000,AS614406,김하루,2019-01-22 8:28,kudou_kazuki@example.com,M,26,1993-08-03,서울특별시,PC-E,2019-02-01 19:44:40
18,18,T0000000131,S002,85000,1,85000,PL964421,김지완,2019-01-05 11:38,furusawa_tohru@example.com,M,29,1990-05-09,대전광역시,PC-B,2019-02-01 20:00:24
19,19,T0000000132,S004,180000,1,180000,AS642796,김대윤,2019-01-27 1:13,okuda_aiko@example.com,F,42,1976-08-29,대전광역시,PC-D,2019-02-01 20:36:30
20,20,T0000000133,S005,210000,1,210000,GD648354,김연준,2019-01-08 19:22,kihara_kenichi1@example.com,M,22,1997-01-13,대구광역시,PC-E,2019-02-01 20:51:11
21,21,T0000000134,S001,50000,3,150000,TS701801,김찬빈,2019-01-22 9:33,umezawa_sayuri@example.com,F,76,1942-09-28,서울특별시,PC-A,2019-02-01 22:08:51
22,22,T0000000135,S001,50000,2,100000,GD362521,김서율,2019-01-06 19:11,matsuoka_haruki@example.com,F,69,1950-02-01,서울특별시,PC-A,2019-02-01 22:37:32
23,23,T0000000136,S003,120000,1,120000,OA041099,김형주,2019-01-26 15:03,asakawa_tarou@example.com,M,69,1950-07-20,인천광역시,PC-C,2019-02-01 23:18:16
24,24,T0000000137,S005,210000,1,210000,GD029189,김지섭,2019-01-16 4:32,masuda_meisa@example.com,F,73,1946-01-14,대전광역시,PC-E,2019-02-01 23:35:49
25,25,T0000000138,S001,50000,1,50000,GD241254,김시훈,2019-01-06 10:02,tsuji_miyuki@example.com,F,77,1942-06-16,울산광역시,PC-A,2019-02-01 23:40:34
26,26,T0000000139,S001,50000,2,100000,AS220894,김현태,2019-01-26 13:26,kajiwara_kadue@example.com,F,54,1965-05-03,부산광역시,PC-A,2019-02-02 00:10:42
27,27,T0000000140,S001,50000,3,150000,IK548249,김겸,2019-01-23 2:28,oyama_tohru@example.com,M,35,1984-05-26,부산광역시,PC-A,2019-02-02 00:17:54
28,28,T0000000141,S005,210000,1,210000,HI830026,김우솔,2019-01-30 11:18,ooshima_momoko@example.com,F,46,1972-11-30,부산광역시,PC-E,2019-02-02 00:18:02
29,29,T0000000142,S001,50000,2,100000,IK429683,김준성,2019-01-05 3:52,nishimura_shinsuke@example.com,M,29,1989-10-07,광주광역시,PC-A,2019-02-02 00:18:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7114,7114,T0000006870,S001,50000,3,150000,HD880785,최지범,2019-05-21 8:50,tsuboi_saori@example.com,F,60,1958-10-29,부산광역시,PC-A,2019-07-31 05:53:32
7115,7115,T0000006871,S004,180000,1,180000,HD753835,최주미,2019-06-21 17:52,yoshida_kouji@example.com,M,36,1982-12-01,서울특별시,PC-D,2019-07-31 05:56:08
7116,7116,T0000006872,S004,180000,1,180000,OA781562,김노아,2019-01-16 21:42,sakashita_ryousuke@example.com,M,69,1950-01-25,광주광역시,PC-D,2019-07-31 05:58:51
7117,7117,T0000006873,S002,85000,1,85000,OA643695,최호정,2019-06-22 14:49,matsuda_hironari@example.com,M,36,1983-01-05,인천광역시,PC-B,2019-07-31 06:25:12
7118,7118,T0000006874,S005,210000,1,210000,IK311957,최아정,2019-06-15 12:20,tomiyama_asaka@example.com,F,65,1954-04-17,광주광역시,PC-E,2019-07-31 09:53:38
7119,7119,T0000006875,S005,210000,1,210000,GD797764,박호준,2019-04-15 8:14,okuda_kouji@example.com,M,67,1952-08-03,부산광역시,PC-E,2019-07-31 10:40:42
7120,7120,T0000006876,S005,210000,1,210000,IK042838,최화윤,2019-07-14 9:53,tabata_masatoshi@example.com,M,55,1964-06-26,울산광역시,PC-E,2019-07-31 11:39:36
7121,7121,T0000006877,S002,85000,1,85000,AS275166,이에린,2019-04-04 14:27,oki_hikaru1@example.com,F,24,1994-10-17,대구광역시,PC-B,2019-07-31 11:52:33
7122,7122,T0000006878,S001,50000,1,50000,GD905295,최강훈,2019-05-18 10:57,sasaki_atsushi1@example.com,M,77,1941-10-27,대구광역시,PC-A,2019-07-31 12:07:44
7123,7123,T0000006879,S001,50000,2,100000,OA467724,최대겸,2019-05-29 7:07,ayase_keiko@example.com,F,42,1976-08-14,서울특별시,PC-A,2019-07-31 13:03:31
7124,7124,T0000006880,S002,85000,1,85000,AS448355,박윤찬,2019-04-16 23:17,gomi_kaoru@example.com,M,25,1994-01-19,광주광역시,PC-B,2019-07-31 13:41:35
7125,7125,T0000006881,S002,85000,1,85000,AS976422,최은소,2019-07-07 0:16,maeda_tamaki@example.com,F,68,1951-07-12,서울특별시,PC-B,2019-07-31 14:19:05
7126,7126,T0000006882,S001,50000,4,200000,HD030302,정진우,2019-07-17 22:19,kusumoto_ryuunosuke@example.com,M,48,1971-02-27,부산광역시,PC-A,2019-07-31 14:46:46
7127,7127,T0000006883,S002,85000,1,85000,IK787243,김대희,2019-02-10 15:56,tsutsumi_yuusuke@example.com,M,36,1983-01-27,인천광역시,PC-B,2019-07-31 15:53:17
7128,7128,T0000006884,S001,50000,1,260000,PL491769,박해인,2019-05-09 11:26,masuoka_sayaka@example.com,F,71,1947-12-29,서울특별시,PC-A,2019-07-31 18:12:37
7129,7129,T0000006884,S005,210000,1,260000,PL491769,박해인,2019-05-09 11:26,masuoka_sayaka@example.com,F,71,1947-12-29,서울특별시,PC-E,2019-07-31 18:12:37
7130,7130,T0000006885,S002,85000,2,170000,GD574177,최해나,2019-06-13 19:24,kumakura_kaori@example.com,F,48,1971-06-25,서울특별시,PC-B,2019-07-31 18:29:42
7131,7131,T0000006886,S005,210000,1,210000,OA917517,이나혜,2019-03-14 8:55,morikawa_maho@example.com,F,48,1970-09-17,서울특별시,PC-E,2019-07-31 19:15:25
7132,7132,T0000006887,S005,210000,1,210000,AS961301,정민승,2019-07-29 23:10,yasunaga_kimiko@example.com,F,58,1960-08-20,광주광역시,PC-E,2019-07-31 19:43:42
7133,7133,T0000006888,S005,210000,1,210000,GD025393,김다훈,2019-01-29 0:46,hirota_reina@example.com,F,61,1958-04-09,대전광역시,PC-E,2019-07-31 20:05:45
7134,7134,T0000006889,S005,210000,1,210000,IK088821,최유정,2019-06-09 20:24,abe_hikari@example.com,F,51,1968-01-08,인천광역시,PC-E,2019-07-31 20:07:22
7135,7135,T0000006890,S003,120000,1,120000,AS554975,정하진,2019-07-20 9:09,ookawa_jin@example.com,M,25,1993-12-08,서울특별시,PC-C,2019-07-31 20:25:02
7136,7136,T0000006891,S001,50000,1,50000,HI337854,이진선,2019-03-31 23:15,kawanishi_saburou@example.com,M,28,1990-09-16,대구광역시,PC-A,2019-07-31 20:28:20
7137,7137,T0000006892,S005,210000,1,210000,PL482487,최예닮,2019-07-01 8:45,ono_ukyou@example.com,M,40,1978-09-13,인천광역시,PC-E,2019-07-31 20:57:14
7138,7138,T0000006893,S004,180000,1,180000,PL057547,이태린,2019-02-27 6:14,ishizawa_mei@example.com,F,33,1985-10-02,서울특별시,PC-D,2019-07-31 21:17:39
7139,7139,T0000006894,S004,180000,1,180000,HI400734,김윤성,2019-01-04 13:24,shishido_akira@example.com,M,64,1955-01-13,대구광역시,PC-D,2019-07-31 21:20:44
7140,7140,T0000006895,S002,85000,1,85000,AS339451,김무경,2019-02-11 19:34,aihara_miki@example.com,F,74,1945-02-03,대구광역시,PC-B,2019-07-31 21:52:48
7141,7141,T0000006896,S001,50000,2,100000,OA027325,박준석,2019-04-17 9:23,matsuda_saki@example.com,F,40,1979-05-25,서울특별시,PC-A,2019-07-31 23:35:25
7142,7142,T0000006897,S002,85000,1,85000,TS624738,이가빈,2019-02-20 18:15,shinndou_masatoshi@example.com,M,56,1963-02-21,인천광역시,PC-B,2019-07-31 23:39:35
7143,7143,T0000006898,S002,85000,1,85000,AS834214,이승채,2019-04-07 3:20,tahara_yuuko@example.com,F,74,1944-12-18,대전광역시,PC-B,2019-07-31 23:41:38

In [18]:
# 'join_data'의 'customer_id'열을 기준으로 중복되는 데이터가 있는지 확인
join_data.duplicated(["customer_id"])

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
7114    False
7115    False
7116     True
7117    False
7118    False
7119    False
7120    False
7121     True
7122    False
7123     True
7124    False
7125    False
7126    False
7127     True
7128     True
7129     True
7130     True
7131     True
7132    False
7133     True
7134     True
7135    False
7136     True
7137    False
7138     True
7139     True
7140     True
7141     True
7142     True
7143     True
Length: 7144, dtype: bool

In [23]:
'''테크닉 5 : 필요한 데이터 컬럼을 만들자'''

join_data["price"] = join_data["item_price"] * join_data["quantity"]
join_columns = list(join_data.columns)
join_columns.insert(5, join_columns.pop())
join_data = join_data[join_columns]
join_data

,detail_id,transaction_id,item_id,item_price,quantity,price,customer_id,customer_name,registration_date,email,gender,age,birth,pref,item_name,payment_date
0,0,T0000000113,S005,210000,1,210000,PL563502,김태경,2019-01-07 14:34,imoto_yoshimasa@example.com,M,30,1989-07-15,대전광역시,PC-E,2019-02-01 01:36:57
1,1,T0000000114,S001,50000,1,50000,HD678019,김영웅,2019-01-27 18:00,mifune_rokurou@example.com,M,73,1945-11-29,서울특별시,PC-A,2019-02-01 01:37:23
2,2,T0000000115,S003,120000,1,120000,HD298120,김강현,2019-01-11 8:16,yamane_kogan@example.com,M,42,1977-05-17,광주광역시,PC-C,2019-02-01 02:34:19
3,3,T0000000116,S005,210000,1,210000,IK452215,김주한,2019-01-10 5:07,ikeda_natsumi@example.com,F,47,1972-03-17,인천광역시,PC-E,2019-02-01 02:47:23
4,4,T0000000117,S002,85000,2,170000,PL542865,김영빈,2019-01-25 6:46,kurita_kenichi@example.com,M,74,1944-12-17,광주광역시,PC-B,2019-02-01 04:33:46
5,5,T0000000118,S003,120000,1,120000,GD372798,김희원,2019-01-24 7:40,fujimura_mitsunori@example.com,M,36,1983-07-18,서울특별시,PC-C,2019-02-01 04:36:50
6,6,T0000000119,S004,180000,1,180000,IK782104,김상준,2019-01-14 11:46,enomoto_kaoru@example.com,M,58,1960-08-10,대구광역시,PC-D,2019-02-01 05:25:18
7,7,T0000000120,S001,50000,1,50000,IK624245,김다원,2019-01-16 7:24,ezaki_girolamo@example.com,M,67,1951-08-24,서울특별시,PC-A,2019-02-01 06:22:39
8,8,T0000000121,S005,210000,1,210000,HD218970,김성훈,2019-01-08 18:22,okada_toshiya@example.com,M,23,1996-06-11,광주광역시,PC-E,2019-02-01 06:40:14
9,9,T0000000122,S002,85000,1,85000,AS912483,김태우,2019-01-09 9:06,tamayama_masami@example.com,F,22,1997-04-26,인천광역시,PC-B,2019-02-01 08:10:23
10,10,T0000000123,S001,50000,1,50000,OA336650,김지훈,2019-01-01 15:57,yasuda_naoto@example.com,M,68,1950-08-13,대전광역시,PC-A,2019-02-01 09:32:27
11,11,T0000000124,S003,120000,1,120000,OA207651,김윤우,2019-01-02 15:56,kanezawa_tomoka@example.com,F,72,1947-03-01,울산광역시,PC-C,2019-02-01 11:27:33
12,12,T0000000125,S004,180000,1,180000,TS419694,김강윤,2019-01-30 13:53,sugiura_youko@example.com,F,69,1950-07-11,서울특별시,PC-D,2019-02-01 13:14:47
13,13,T0000000126,S002,85000,2,170000,HD068817,김우빈,2019-01-04 3:01,hori_atsushi@example.com,M,68,1951-05-17,인천광역시,PC-B,2019-02-01 13:46:10
14,14,T0000000127,S002,85000,1,85000,OA041301,김주안,2019-01-05 23:48,takabata_sanma@example.com,M,32,1986-12-28,광주광역시,PC-B,2019-02-01 14:14:13
15,15,T0000000128,S005,210000,1,210000,IK234815,김진영,2019-01-15 1:08,watabe_ryou@example.com,M,68,1951-07-27,서울특별시,PC-E,2019-02-01 17:20:02
16,16,T0000000129,S001,50000,1,50000,TS146087,김세찬,2019-01-29 13:34,jinbo_haruka@example.com,F,48,1970-09-27,인천광역시,PC-A,2019-02-01 18:08:59
17,17,T0000000130,S005,210000,1,210000,AS614406,김하루,2019-01-22 8:28,kudou_kazuki@example.com,M,26,1993-08-03,서울특별시,PC-E,2019-02-01 19:44:40
18,18,T0000000131,S002,85000,1,85000,PL964421,김지완,2019-01-05 11:38,furusawa_tohru@example.com,M,29,1990-05-09,대전광역시,PC-B,2019-02-01 20:00:24
19,19,T0000000132,S004,180000,1,180000,AS642796,김대윤,2019-01-27 1:13,okuda_aiko@example.com,F,42,1976-08-29,대전광역시,PC-D,2019-02-01 20:36:30
20,20,T0000000133,S005,210000,1,210000,GD648354,김연준,2019-01-08 19:22,kihara_kenichi1@example.com,M,22,1997-01-13,대구광역시,PC-E,2019-02-01 20:51:11
21,21,T0000000134,S001,50000,3,150000,TS701801,김찬빈,2019-01-22 9:33,umezawa_sayuri@example.com,F,76,1942-09-28,서울특별시,PC-A,2019-02-01 22:08:51
22,22,T0000000135,S001,50000,2,100000,GD362521,김서율,2019-01-06 19:11,matsuoka_haruki@example.com,F,69,1950-02-01,서울특별시,PC-A,2019-02-01 22:37:32
23,23,T0000000136,S003,120000,1,120000,OA041099,김형주,2019-01-26 15:03,asakawa_tarou@example.com,M,69,1950-07-20,인천광역시,PC-C,2019-02-01 23:18:16
24,24,T0000000137,S005,210000,1,210000,GD029189,김지섭,2019-01-16 4:32,masuda_meisa@example.com,F,73,1946-01-14,대전광역시,PC-E,2019-02-01 23:35:49
25,25,T0000000138,S001,50000,1,50000,GD241254,김시훈,2019-01-06 10:02,tsuji_miyuki@example.com,F,77,1942-06-16,울산광역시,PC-A,2019-02-01 23:40:34
26,26,T0000000139,S001,50000,2,100000,AS220894,김현태,2019-01-26 13:26,kajiwara_kadue@example.com,F,54,1965-05-03,부산광역시,PC-A,2019-02-02 00:10:42
27,27,T0000000140,S001,50000,3,150000,IK548249,김겸,2019-01-23 2:28,oyama_tohru@example.com,M,35,1984-05-26,부산광역시,PC-A,2019-02-02 00:17:54
28,28,T0000000141,S005,210000,1,210000,HI830026,김우솔,2019-01-30 11:18,ooshima_momoko@example.com,F,46,1972-11-30,부산광역시,PC-E,2019-02-02 00:18:02
29,29,T0000000142,S001,50000,2,100000,IK429683,김준성,2019-01-05 3:52,nishimura_shinsuke@example.com,M,29,1989-10-07,광주광역시,PC-A,2019-02-02 00:18:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7114,7114,T0000006870,S001,50000,3,150000,HD880785,최지범,2019-05-21 8:50,tsuboi_saori@example.com,F,60,1958-10-29,부산광역시,PC-A,2019-07-31 05:53:32
7115,7115,T0000006871,S004,180000,1,180000,HD753835,최주미,2019-06-21 17:52,yoshida_kouji@example.com,M,36,1982-12-01,서울특별시,PC-D,2019-07-31 05:56:08
7116,7116,T0000006872,S004,180000,1,180000,OA781562,김노아,2019-01-16 21:42,sakashita_ryousuke@example.com,M,69,1950-01-25,광주광역시,PC-D,2019-07-31 05:58:51
7117,7117,T0000006873,S002,85000,1,85000,OA643695,최호정,2019-06-22 14:49,matsuda_hironari@example.com,M,36,1983-01-05,인천광역시,PC-B,2019-07-31 06:25:12
7118,7118,T0000006874,S005,210000,1,210000,IK311957,최아정,2019-06-15 12:20,tomiyama_asaka@example.com,F,65,1954-04-17,광주광역시,PC-E,2019-07-31 09:53:38
7119,7119,T0000006875,S005,210000,1,210000,GD797764,박호준,2019-04-15 8:14,okuda_kouji@example.com,M,67,1952-08-03,부산광역시,PC-E,2019-07-31 10:40:42
7120,7120,T0000006876,S005,210000,1,210000,IK042838,최화윤,2019-07-14 9:53,tabata_masatoshi@example.com,M,55,1964-06-26,울산광역시,PC-E,2019-07-31 11:39:36
7121,7121,T0000006877,S002,85000,1,85000,AS275166,이에린,2019-04-04 14:27,oki_hikaru1@example.com,F,24,1994-10-17,대구광역시,PC-B,2019-07-31 11:52:33
7122,7122,T0000006878,S001,50000,1,50000,GD905295,최강훈,2019-05-18 10:57,sasaki_atsushi1@example.com,M,77,1941-10-27,대구광역시,PC-A,2019-07-31 12:07:44
7123,7123,T0000006879,S001,50000,2,100000,OA467724,최대겸,2019-05-29 7:07,ayase_keiko@example.com,F,42,1976-08-14,서울특별시,PC-A,2019-07-31 13:03:31
7124,7124,T0000006880,S002,85000,1,85000,AS448355,박윤찬,2019-04-16 23:17,gomi_kaoru@example.com,M,25,1994-01-19,광주광역시,PC-B,2019-07-31 13:41:35
7125,7125,T0000006881,S002,85000,1,85000,AS976422,최은소,2019-07-07 0:16,maeda_tamaki@example.com,F,68,1951-07-12,서울특별시,PC-B,2019-07-31 14:19:05
7126,7126,T0000006882,S001,50000,4,200000,HD030302,정진우,2019-07-17 22:19,kusumoto_ryuunosuke@example.com,M,48,1971-02-27,부산광역시,PC-A,2019-07-31 14:46:46
7127,7127,T0000006883,S002,85000,1,85000,IK787243,김대희,2019-02-10 15:56,tsutsumi_yuusuke@example.com,M,36,1983-01-27,인천광역시,PC-B,2019-07-31 15:53:17
7128,7128,T0000006884,S001,50000,1,50000,PL491769,박해인,2019-05-09 11:26,masuoka_sayaka@example.com,F,71,1947-12-29,서울특별시,PC-A,2019-07-31 18:12:37
7129,7129,T0000006884,S005,210000,1,210000,PL491769,박해인,2019-05-09 11:26,masuoka_sayaka@example.com,F,71,1947-12-29,서울특별시,PC-E,2019-07-31 18:12:37
7130,7130,T0000006885,S002,85000,2,170000,GD574177,최해나,2019-06-13 19:24,kumakura_kaori@example.com,F,48,1971-06-25,서울특별시,PC-B,2019-07-31 18:29:42
7131,7131,T0000006886,S005,210000,1,210000,OA917517,이나혜,2019-03-14 8:55,morikawa_maho@example.com,F,48,1970-09-17,서울특별시,PC-E,2019-07-31 19:15:25
7132,7132,T0000006887,S005,210000,1,210000,AS961301,정민승,2019-07-29 23:10,yasunaga_kimiko@example.com,F,58,1960-08-20,광주광역시,PC-E,2019-07-31 19:43:42
7133,7133,T0000006888,S005,210000,1,210000,GD025393,김다훈,2019-01-29 0:46,hirota_reina@example.com,F,61,1958-04-09,대전광역시,PC-E,2019-07-31 20:05:45
7134,7134,T0000006889,S005,210000,1,210000,IK088821,최유정,2019-06-09 20:24,abe_hikari@example.com,F,51,1968-01-08,인천광역시,PC-E,2019-07-31 20:07:22
7135,7135,T0000006890,S003,120000,1,120000,AS554975,정하진,2019-07-20 9:09,ookawa_jin@example.com,M,25,1993-12-08,서울특별시,PC-C,2019-07-31 20:25:02
7136,7136,T0000006891,S001,50000,1,50000,HI337854,이진선,2019-03-31 23:15,kawanishi_saburou@example.com,M,28,1990-09-16,대구광역시,PC-A,2019-07-31 20:28:20
7137,7137,T0000006892,S005,210000,1,210000,PL482487,최예닮,2019-07-01 8:45,ono_ukyou@example.com,M,40,1978-09-13,인천광역시,PC-E,2019-07-31 20:57:14
7138,7138,T0000006893,S004,180000,1,180000,PL057547,이태린,2019-02-27 6:14,ishizawa_mei@example.com,F,33,1985-10-02,서울특별시,PC-D,2019-07-31 21:17:39
7139,7139,T0000006894,S004,180000,1,180000,HI400734,김윤성,2019-01-04 13:24,shishido_akira@example.com,M,64,1955-01-13,대구광역시,PC-D,2019-07-31 21:20:44
7140,7140,T0000006895,S002,85000,1,85000,AS339451,김무경,2019-02-11 19:34,aihara_miki@example.com,F,74,1945-02-03,대구광역시,PC-B,2019-07-31 21:52:48
7141,7141,T0000006896,S001,50000,2,100000,OA027325,박준석,2019-04-17 9:23,matsuda_saki@example.com,F,40,1979-05-25,서울특별시,PC-A,2019-07-31 23:35:25
7142,7142,T0000006897,S002,85000,1,85000,TS624738,이가빈,2019-02-20 18:15,shinndou_masatoshi@example.com,M,56,1963-02-21,인천광역시,PC-B,2019-07-31 23:39:35
7143,7143,T0000006898,S002,85000,1,85000,AS834214,이승채,2019-04-07 3:20,tahara_yuuko@example.com,F,74,1944-12-18,대전광역시,PC-B,2019-07-31 23:41:38

In [24]:
'''테크닉 6 : 데이터를 검산하자'''

print(join_data["price"].sum())
print(transaction["price"].sum())

971135000
971135000

In [26]:
'''테크닉 7 : 각종 통계량을 파악하자'''

join_data.isnull().sum()

detail_id            0
transaction_id       0
item_id              0
item_price           0
quantity             0
price                0
customer_id          0
customer_name        0
registration_date    0
email                0
gender               0
age                  0
birth                0
pref                 0
item_name            0
payment_date         0
dtype: int64

In [27]:
join_data.describe()

         detail_id     item_price     quantity          price          age
count  7144.000000    7144.000000  7144.000000    7144.000000  7144.000000
mean   3571.500000  121698.628219     1.199888  135937.150056    50.265677
std    2062.439494   64571.311830     0.513647   68511.453297    17.190314
min       0.000000   50000.000000     1.000000   50000.000000    20.000000
25%    1785.750000   50000.000000     1.000000   85000.000000    36.000000
50%    3571.500000  102500.000000     1.000000  120000.000000    50.000000
75%    5357.250000  187500.000000     1.000000  210000.000000    65.000000
max    7143.000000  210000.000000     4.000000  420000.000000    80.000000