In [1]:
uriage_purchase_dataset = pd.read_csv("./pyda100-master/Chapter_2/uriage.csv")
uriage_purchase_dataset

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05     상 품 S         NaN           김우찬
2     2019-05-11 19:42     상 품 a         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품a         NaN           김강현
5     2019-03-20 19:16       상품S      1900.0           김우진
6     2019-05-18 19:16      상품 a         NaN           김재준
7      2019-04-18 0:14       상품V      2200.0           김민혁
8     2019-01-10 15:51       상품O      1500.0           김선우
9     2019-01-28 10:47       상품A       100.0           김태윤
10     2019-06-21 1:54      상 품U      2100.0           김시완
11    2019-06-08 11:32       상품L      1200.0           김도윤
12     2019-04-08 2:00     상  품V      2200.0           김주한
13     2019-06-19 9:50      상 품O      1500.0           김도원
14    2019-06-11 12:57       상품A         NaN           김재호
15     2019-04-21 0:11       상품C       300.0           김지율
16    2019-03-28 23:24       상품V      2200.0           김재훈
17    2019-04-06 12:00       상품I       900.0           김상현
18     2019-07-16 5:55       상품r      1800.0           김준성
19     2019-07-03 7:04       상품X      2400.0           김성민
20    2019-07-05 10:49       상품O      1500.0           김서후
21    2019-06-10 19:07      상품 g       700.0           김승유
22    2019-07-10 20:28       상품X      2400.0           김동욱
23    2019-07-10 12:44       상품R      1800.0           김대현
24     2019-02-14 1:30       상품P      1600.0           김동건
25     2019-04-18 1:50       상품Q      1700.0           김우찬
26     2019-05-16 4:45       상품y      2500.0           김태현
27    2019-05-26 10:58       상품P      1600.0           김다온
28    2019-01-04 12:05       상품P         NaN           김우진
29    2019-02-11 18:32       상품R      1800.0           김하윤
...                ...       ...         ...           ...
2969   2019-02-01 3:48       상품O      1500.0           김은혁
2970  2019-03-15 11:17       상품L      1200.0           김시훈
2971   2019-02-02 4:52       상품S      1900.0           김태우
2972  2019-04-30 19:47       상품R      1800.0           김준수
2973  2019-07-13 21:38       상품A       100.0           김태윤
2974  2019-02-04 17:08       상품P      1600.0           김예준
2975  2019-07-21 10:36       상품Y      2500.0           김지오
2976   2019-07-11 0:11       상품L      1200.0           김윤찬
2977  2019-03-02 20:55       상품X         NaN           김우준
2978  2019-04-06 21:20       상품N      1400.0           김우찬
2979  2019-03-09 17:26       상품N      1400.0           김승빈
2980   2019-07-01 2:15       상품P      1600.0           김지오
2981  2019-04-26 22:17       상품R      1800.0           김현승
2982  2019-02-18 16:53       상품L      1200.0           김민서
2983   2019-05-09 0:44       상품H       800.0           김민준
2984   2019-03-06 6:16       상품G       700.0           김승호
2985  2019-03-06 22:30       상품X      2400.0           김현진
2986  2019-03-12 19:34       상품C       300.0           김정후
2987  2019-01-04 13:05       상품K         NaN           김정훈
2988   2019-01-23 7:08       상품R      1800.0           김시완
2989   2019-05-19 3:20       상품M      1300.0           김태훈
2990  2019-07-16 11:34       상품O         NaN           김서준
2991  2019-02-18 14:36       상품W      2300.0           김우빈
2992  2019-07-27 10:13       상품C         NaN           김동하
2993   2019-01-25 3:57       상품C       300.0           김이안
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [2]:
uriage_purchase_dataset["item_price"].isnull()

0       False
1        True
2        True
3       False
4        True
5       False
6        True
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14       True
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28       True
29      False
        ...
2969    False
2970    False
2971    False
2972    False
2973    False
2974    False
2975    False
2976    False
2977     True
2978    False
2979    False
2980    False
2981    False
2982    False
2983    False
2984    False
2985    False
2986    False
2987     True
2988    False
2989    False
2990     True
2991    False
2992     True
2993    False
2994    False
2995    False
2996     True
2997     True
2998    False
Name: item_price, Length: 2999, dtype: bool

In [3]:
kokyaku_customer_dataset = pd.read_excel("./pyda100-master/Chapter_2/kokyaku_daicho.xlsx")
kokyaku_customer_dataset

     고객이름  지역                  등록일
0    김 현성  H시  2018-01-04 00:00:00
1    김 도윤  E시                42782
2    김 지한  A시  2018-01-07 00:00:00
3    김 하윤  F시                42872
4    김 시온  E시                43127
5    김 예성  A시  2017-06-20 00:00:00
6    김 하람  H시  2018-06-11 00:00:00
7    김 호준  B시  2017-05-19 00:00:00
8    김 지완  G시  2018-02-12 00:00:00
9    김 주호  G시  2017-07-05 00:00:00
10   김 재원  E시  2018-03-31 00:00:00
11   김 승민  A시  2017-04-22 00:00:00
12   김 준형  C시  2018-03-09 00:00:00
13   김 동건  D시  2017-03-13 00:00:00
14   김 준서  E시  2018-01-24 00:00:00
15   김 수혁  G시  2017-06-09 00:00:00
16   김 진우  D시  2018-05-02 00:00:00
17   김 윤호  G시  2017-02-05 00:00:00
18   김 윤서  H시  2018-07-10 00:00:00
19   김 준희  H시  2017-07-08 00:00:00
20   김 윤우  A시  2018-03-12 00:00:00
21   김 동우  A시                42920
22   김 성빈  H시  2018-02-28 00:00:00
23   김 태준  E시  2017-05-16 00:00:00
24   김 태경  D시  2018-01-29 00:00:00
25   김 승후  C시  2017-03-17 00:00:00
26   김 현우  C시  2018-06-28 00:00:00
27   김 서준  C시                42901
28   김 주원  C시  2018-05-21 00:00:00
29   김 태인  F시  2017-03-12 00:00:00
..    ...  ..                  ...
170  김 시환  F시  2018-05-27 00:00:00
171  김 수현  E시  2017-02-22 00:00:00
172  김 서율  G시                43181
173  정 준기  B시  2017-02-05 00:00:00
174  김 성훈  B시  2018-01-09 00:00:00
175  김 시호  H시  2017-06-12 00:00:00
176  김 재호  C시  2018-02-14 00:00:00
177  김 재우  D시  2017-04-14 00:00:00
178  김 동하  F시  2018-03-15 00:00:00
179  김 우현  C시                42743
180  김 민기  G시  2018-07-19 00:00:00
181  김 승환  B시  2017-05-23 00:00:00
182  김 다온  A시  2018-05-01 00:00:00
183  김 승우  B시                42940
184  김 성준  H시  2018-05-24 00:00:00
185  김 승호  F시  2017-04-08 00:00:00
186  김 승주  E시                43294
187  김 태윤  E시  2017-05-09 00:00:00
188  김 민수  D시  2018-07-22 00:00:00
189  김 현민  D시  2017-07-30 00:00:00
190  김 유진  B시  2018-06-14 00:00:00
191  김 지안  B시  2017-01-28 00:00:00
192  김 현석  H시                43259
193  김 선우  H시  2017-05-05 00:00:00
194  김 지원  H시  2018-02-27 00:00:00
195  김 재희  G시  2017-06-20 00:00:00
196  김 도영  E시  2018-06-20 00:00:00
197  김 이안  F시  2017-04-29 00:00:00
198  김 시현  H시  2019-04-19 00:00:00
199  김 서우  D시  2019-04-23 00:00:00

[200 rows x 3 columns]

In [4]:
# uriage dataset의 오류 파악1 : 동일한 상품명이 다른 형식으로 표기되어 있음
uriage_purchase_dataset["item_name"].head()

0      상품A
1    상 품 S
2    상 품 a
3      상품Z
4      상품a
Name: item_name, dtype: object

In [5]:
# uriage dataset의 오류 파악2 : 'item_price'컬럼에 null값이 존재
uriage_purchase_dataset["item_price"].head()

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

In [6]:
# uriage_purchase_dataset 컬럼의 데이터 유형 확인
display(uriage_purchase_dataset.dtypes)

purchase_date     object
item_name         object
item_price       float64
customer_name     object
dtype: object

In [7]:
# 데이터에 오류가 있는 상태로 집계를 실시(상품의 개수는 26개인데, 해당 pivot table의 column의 개수가 99개로 늘어나 있는 것을 확인할 수 있음)
uriage_purchase_dataset["purchase_date"] = pd.to_datetime(uriage_purchase_dataset["purchase_date"])
uriage_purchase_dataset["purchase_month"] = uriage_purchase_dataset["purchase_date"].dt.strftime("%Y%m")
uriage_purchase_dataset
pivot_table = uriage_purchase_dataset.pivot_table(index="purchase_month", columns="item_name", values="item_price", aggfunc="sum")
pivot_table

item_name,상 품 n,상품 E,상품 M,상품 P,상품 S,상품 W,상품 X,상품W,상 품O,상 품Q,...,상품k,상품l,상품o,상품p,상품r,상품s,상품t,상품v,상품x,상품y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1100.0,1200.0,1500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201902,NaN,NaN,NaN,NaN,NaN,NaN,2400.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900.0,2000.0,2200.0,NaN,NaN
201903,NaN,500.0,1300.0,1600.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2300.0,NaN,1700.0,...,NaN,NaN,NaN,NaN,NaN,1900.0,NaN,NaN,NaN,NaN
201905,NaN,NaN,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,...,NaN,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2500.0
201906,NaN,NaN,NaN,NaN,NaN,2300.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1600.0,NaN,NaN,NaN,NaN,2400.0,NaN
201907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,1500.0,NaN,1800.0,NaN,NaN,NaN,NaN,NaN

In [8]:
# 상품명의 유니크 수 확인
print("unique한 상품명의 개수 :",len(list(pd.unique(uriage_purchase_dataset["item_name"]))), "\n")
print(list(pd.unique(uriage_purchase_dataset["item_name"])))

unique한 상품명의 개수 : 99

['상품A', '상 품 S', '상 품 a', '상품Z', '상품a', '상품S', '상품 a', '상품V', '상품O', '상 품U', '상품L', '상  품V', '상 품O', '상품C', '상품I', '상품r', '상품X', '상품 g', '상품R', '상품P', '상품Q', '상품y', '상품 A', '상품N', '상품W', '상 품E', '상품K', '상품B', '상품F', '상 품s', ' 상품W', ' 상 품 n', '상 품F', '상품D', '상품M', '상품Y', '상품U', '상품H', '상품T', '상품J', '상  품O', '상품E', '상  품Q', ' 상품 S', ' 상품 M', '상  품T', '상품G', '상 품G', ' 상품 P', ' 상품 E', '상 품N', '상 품Y', '상품 J', '상품 V', '상품 K', '상 품V', '상 품D', '상 품A', '상품 F', '상품 H', '상 품K', '상 품T', '상품 X', '상품 Q', '상 품X', '상 품H', '상 품C', '상품 B', '상품 O', '상품 T', '상품v', '상품p', '상품i', '상품 w', '상 품 s', '상 품 q', '상품s', '상품l', '상품t', '상품k', '상품g', '상품o', '상품 R', '상품 S', '상 품M', '상품j', '상품d', '상품 I', '상품 E', '상품 o', '상품c', '상품 v', '상품e', '상품x', '상 품I', ' 상품 W', ' 상품 X', '상품 M', '상 품P']

In [9]:
# 상품명의 오류 수정(상품명 내 알파벳을 전부 대문자로 전환, 상품명에 포함된 띄어쓰기를 삭제)
uriage_purchase_dataset["item_name"] = uriage_purchase_dataset["item_name"].str.upper()
uriage_purchase_dataset["item_name"] = uriage_purchase_dataset["item_name"].str.replace(" ", "")
uriage_purchase_dataset["item_name"]

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
5       상품S
6       상품A
7       상품V
8       상품O
9       상품A
10      상품U
11      상품L
12      상품V
13      상품O
14      상품A
15      상품C
16      상품V
17      상품I
18      상품R
19      상품X
20      상품O
21      상품G
22      상품X
23      상품R
24      상품P
25      상품Q
26      상품Y
27      상품P
28      상품P
29      상품R
       ...
2969    상품O
2970    상품L
2971    상품S
2972    상품R
2973    상품A
2974    상품P
2975    상품Y
2976    상품L
2977    상품X
2978    상품N
2979    상품N
2980    상품P
2981    상품R
2982    상품L
2983    상품H
2984    상품G
2985    상품X
2986    상품C
2987    상품K
2988    상품R
2989    상품M
2990    상품O
2991    상품W
2992    상품C
2993    상품C
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [10]:
uriage_purchase_dataset.sort_values(by=["item_name"])

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:00       상품A       100.0           김가온         201906
1748 2019-05-19 20:22:00       상품A       100.0           김시훈         201905
223  2019-06-25 08:13:00       상품A       100.0           김유진         201906
1742 2019-06-13 16:03:00       상품A       100.0           김건희         201906
1738 2019-02-10 00:28:00       상품A       100.0           김하랑         201902
1721 2019-02-24 19:18:00       상품A       100.0           김은우         201902
1708 2019-03-27 17:10:00       상품A       100.0           김준희         201903
1707 2019-03-25 21:42:00       상품A       100.0           김주한         201903
234  2019-03-23 09:32:00       상품A       100.0           김찬우         201903
1684 2019-02-17 20:25:00       상품A       100.0           김경민         201902
497  2019-02-11 03:54:00       상품A       100.0           김우진         201902
1761 2019-05-04 14:44:00       상품A       100.0           김준후         201905
1658 2019-03-23 20:08:00       상품A       100.0           김은율         201903
1544 2019-01-21 11:49:00       상품A       100.0           김준호         201901
1513 2019-04-04 18:58:00       상품A       100.0           김승후         201904
1500 2019-02-28 17:25:00       상품A       100.0           김라온         201902
1498 2019-01-19 12:15:00       상품A       100.0           김승현         201901
1481 2019-03-10 03:52:00       상품A       100.0           김지완         201903
1474 2019-04-11 02:22:00       상품A         NaN           김선우         201904
274  2019-07-27 01:45:00       상품A       100.0           김지운         201907
1454 2019-01-16 07:35:00       상품A       100.0           김강현         201901
1398 2019-06-13 02:20:00       상품A       100.0           김준서         201906
1394 2019-07-07 21:49:00       상품A         NaN           김은우         201907
1576 2019-05-06 02:40:00       상품A       100.0           김은우         201905
211  2019-02-12 02:52:00       상품A       100.0           김서후         201902
210  2019-07-08 04:17:00       상품A       100.0           김강현         201907
1835 2019-06-20 12:57:00       상품A       100.0           김지후         201906
2384 2019-04-27 02:50:00       상품A       100.0           김현서         201904
117  2019-06-14 09:08:00       상품A       100.0           김가온         201906
2352 2019-07-28 07:55:00       상품A       100.0           김승윤         201907
...                  ...       ...         ...           ...            ...
214  2019-06-02 01:01:00       상품Y      2500.0           김재윤         201906
707  2019-02-08 19:17:00       상품Y      2500.0           김대현         201902
2123 2019-06-19 14:40:00       상품Y         NaN           김현진         201906
2909 2019-04-27 21:33:00       상품Y      2500.0           김상민         201904
2910 2019-05-16 07:16:00       상품Y      2500.0           김하랑         201905
702  2019-06-20 19:09:00       상품Y      2500.0           김도현         201906
198  2019-04-13 13:05:00       상품Y      2500.0           김준수         201904
689  2019-05-24 17:03:00       상품Y      2500.0           김지오         201905
1571 2019-05-10 17:54:00       상품Y         NaN           김태민         201905
833  2019-07-29 11:07:00       상품Y      2500.0           김재윤         201907
743  2019-06-09 04:18:00       상품Y      2500.0           김규민         201906
26   2019-05-16 04:45:00       상품Y      2500.0           김태현         201905
2857 2019-06-13 22:19:00       상품Y      2500.0           김승재         201906
2446 2019-03-30 18:50:00       상품Y         NaN           김하율         201903
2679 2019-05-04 13:03:00       상품Y      2500.0           김승준         201905
1882 2019-07-31 16:58:00       상품Y         NaN           김범준         201907
805  2019-07-29 07:17:00       상품Y      2500.0           김민찬         201907
2452 2019-05-01 17:42:00       상품Y      2500.0           김재훈         201905
2889 2019-06-14 10:11:00       상품Y      2500.0           김도영         201906
1732 2019-02-20 05:22:00       상품Y         NaN           김은혁         201902
2090 2019-06-13 07:18:00       상품Y      2500.0           김민규         201906
2100 2019-02-27 01:24:00       상품Y      2500.0           김준성         201902
1878 2019-01-29 13:58:00       상품Y      2500.0           김하진         201901
2527 2019-05-17 18:15:00       상품Y      2500.0           김민기         201905
2526 2019-05-26 10:26:00       상품Y      2500.0           김재민         201905
2880 2019-04-22 00:36:00       상품Y         NaN           김동욱         201904
2881 2019-04-30 14:21:00       상품Y         NaN           김하준         201904
1525 2019-01-24 10:27:00       상품Y      2500.0           김범준         201901
1361 2019-05-28 13:45:00       상품Y      2500.0           김수현         201905
3    2019-02-12 23:40:00       상품Z      2600.0           김재현         201902

[2999 rows x 5 columns]

In [14]:
# 상품명 컬럼의 오류가 잘 수정되었는지 최종 확인
len(pd.unique(uriage_purchase_dataset["item_name"]))

26

In [15]:
# 특정 데이터 값이 null인지 아닌지 파악
uriage_purchase_dataset.isnull()

      purchase_date  item_name  item_price  customer_name  purchase_month
0             False      False       False          False           False
1             False      False       False          False           False
2             False      False       False          False           False
3             False      False       False          False           False
4             False      False       False          False           False
5             False      False       False          False           False
6             False      False       False          False           False
7             False      False       False          False           False
8             False      False       False          False           False
9             False      False       False          False           False
10            False      False       False          False           False
11            False      False       False          False           False
12            False      False       False          False           False
13            False      False       False          False           False
14            False      False       False          False           False
15            False      False       False          False           False
16            False      False       False          False           False
17            False      False       False          False           False
18            False      False       False          False           False
19            False      False       False          False           False
20            False      False       False          False           False
21            False      False       False          False           False
22            False      False       False          False           False
23            False      False       False          False           False
24            False      False       False          False           False
25            False      False       False          False           False
26            False      False       False          False           False
27            False      False       False          False           False
28            False      False       False          False           False
29            False      False       False          False           False
...             ...        ...         ...            ...             ...
2969          False      False       False          False           False
2970          False      False       False          False           False
2971          False      False       False          False           False
2972          False      False       False          False           False
2973          False      False       False          False           False
2974          False      False       False          False           False
2975          False      False       False          False           False
2976          False      False       False          False           False
2977          False      False       False          False           False
2978          False      False       False          False           False
2979          False      False       False          False           False
2980          False      False       False          False           False
2981          False      False       False          False           False
2982          False      False       False          False           False
2983          False      False       False          False           False
2984          False      False       False          False           False
2985          False      False       False          False           False
2986          False      False       False          False           False
2987          False      False       False          False           False
2988          False      False       False          False           False
2989          False      False       False          False           False
2990          False      False       False          False           False
2991          False      False       False          False           False
2992          False      False       False          False           False
2993          False      False       False          False           False
2994          False      False       False          False           False
2995          False      False       False          False           False
2996          False      False       False          False           False
2997          False      False       False          False           False
2998          False      False       False          False           False

[2999 rows x 5 columns]

In [12]:
# item_price 컬럼에 null값이 있음을 확인
# pd.Dataframe.isnull().any() : 특정 컬럼에 null값이 하나라도 포함되어 있으면 해당 컬럼에 대해선 'True'가, null값이 하나라도 포함되어 있지 않으면 'False'가 표기됨
uriage_purchase_dataset.isnull().any()

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

In [13]:
flg_for_is_null = uriage_purchase_dataset["item_price"].isnull()

# boolean indexing 실시
for item in list(uriage_purchase_dataset.loc[flg_for_is_null, "item_name"].unique()):
    
    # 'item_name'이 'item'에 저장된 값에 해당하고 'item_price'값이 null이 아닌 행들의 'item_price'값을 요소로 가지는 Series를 추출한 후, 해당 Series에서 가장 최대값을 가져와 'price'변수에 저장   
    price = uriage_purchase_dataset.loc[(~flg_for_is_null) & (uriage_purchase_dataset["item_name"] == item), "item_price"].max()
    
    # 'item_name'이 'item'에 저장된 값에 해당하고 'item_price'가 null인 행들의 'item_price'값을 'price'에 저장된 값으로 변경
    uriage_purchase_dataset.loc[(flg_for_is_null) & (uriage_purchase_dataset["item_name"] == item), "item_price"] = price

uriage_purchase_dataset

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:00       상품A       100.0           김가온         201906
1    2019-07-13 13:05:00       상품S      1900.0           김우찬         201907
2    2019-05-11 19:42:00       상품A       100.0           김유찬         201905
3    2019-02-12 23:40:00       상품Z      2600.0           김재현         201902
4    2019-04-22 03:09:00       상품A       100.0           김강현         201904
5    2019-03-20 19:16:00       상품S      1900.0           김우진         201903
6    2019-05-18 19:16:00       상품A       100.0           김재준         201905
7    2019-04-18 00:14:00       상품V      2200.0           김민혁         201904
8    2019-01-10 15:51:00       상품O      1500.0           김선우         201901
9    2019-01-28 10:47:00       상품A       100.0           김태윤         201901
10   2019-06-21 01:54:00       상품U      2100.0           김시완         201906
11   2019-06-08 11:32:00       상품L      1200.0           김도윤         201906
12   2019-04-08 02:00:00       상품V      2200.0           김주한         201904
13   2019-06-19 09:50:00       상품O      1500.0           김도원         201906
14   2019-06-11 12:57:00       상품A       100.0           김재호         201906
15   2019-04-21 00:11:00       상품C       300.0           김지율         201904
16   2019-03-28 23:24:00       상품V      2200.0           김재훈         201903
17   2019-04-06 12:00:00       상품I       900.0           김상현         201904
18   2019-07-16 05:55:00       상품R      1800.0           김준성         201907
19   2019-07-03 07:04:00       상품X      2400.0           김성민         201907
20   2019-07-05 10:49:00       상품O      1500.0           김서후         201907
21   2019-06-10 19:07:00       상품G       700.0           김승유         201906
22   2019-07-10 20:28:00       상품X      2400.0           김동욱         201907
23   2019-07-10 12:44:00       상품R      1800.0           김대현         201907
24   2019-02-14 01:30:00       상품P      1600.0           김동건         201902
25   2019-04-18 01:50:00       상품Q      1700.0           김우찬         201904
26   2019-05-16 04:45:00       상품Y      2500.0           김태현         201905
27   2019-05-26 10:58:00       상품P      1600.0           김다온         201905
28   2019-01-04 12:05:00       상품P      1600.0           김우진         201901
29   2019-02-11 18:32:00       상품R      1800.0           김하윤         201902
...                  ...       ...         ...           ...            ...
2969 2019-02-01 03:48:00       상품O      1500.0           김은혁         201902
2970 2019-03-15 11:17:00       상품L      1200.0           김시훈         201903
2971 2019-02-02 04:52:00       상품S      1900.0           김태우         201902
2972 2019-04-30 19:47:00       상품R      1800.0           김준수         201904
2973 2019-07-13 21:38:00       상품A       100.0           김태윤         201907
2974 2019-02-04 17:08:00       상품P      1600.0           김예준         201902
2975 2019-07-21 10:36:00       상품Y      2500.0           김지오         201907
2976 2019-07-11 00:11:00       상품L      1200.0           김윤찬         201907
2977 2019-03-02 20:55:00       상품X      2400.0           김우준         201903
2978 2019-04-06 21:20:00       상품N      1400.0           김우찬         201904
2979 2019-03-09 17:26:00       상품N      1400.0           김승빈         201903
2980 2019-07-01 02:15:00       상품P      1600.0           김지오         201907
2981 2019-04-26 22:17:00       상품R      1800.0           김현승         201904
2982 2019-02-18 16:53:00       상품L      1200.0           김민서         201902
2983 2019-05-09 00:44:00       상품H       800.0           김민준         201905
2984 2019-03-06 06:16:00       상품G       700.0           김승호         201903
2985 2019-03-06 22:30:00       상품X      2400.0           김현진         201903
2986 2019-03-12 19:34:00       상품C       300.0           김정후         201903
2987 2019-01-04 13:05:00       상품K      1100.0           김정훈         201901
2988 2019-01-23 07:08:00       상품R      1800.0           김시완         201901
2989 2019-05-19 03:20:00       상품M      1300.0           김태훈         201905
2990 2019-07-16 11:34:00       상품O      1500.0           김서준         201907
2991 2019-02-18 14:36:00       상품W      2300.0           김우빈         201902
2992 2019-07-27 10:13:00       상품C       300.0           김동하         201907
2993 2019-01-25 03:57:00       상품C       300.0           김이안         201901
2994 2019-02-15 02:56:00       상품Y      2500.0           김정민         201902
2995 2019-06-22 04:03:00       상품M      1300.0           김재원         201906
2996 2019-03-29 11:14:00       상품Q      1700.0           김지율         201903
2997 2019-07-14 12:56:00       상품H       800.0           김승주         201907
2998 2019-07-21 00:31:00       상품D       400.0           정준기         201907

[2999 rows x 5 columns]

In [16]:
'''boolean을 요소로 가진 Series 변수 앞에 '~'을 붙이면, True가 False로 False가 True로 바뀐 Series가 반환된다.'''
~flg_for_is_null

0        True
1       False
2       False
3        True
4       False
5        True
6       False
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14      False
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28      False
29       True
        ...
2969     True
2970     True
2971     True
2972     True
2973     True
2974     True
2975     True
2976     True
2977    False
2978     True
2979     True
2980     True
2981     True
2982     True
2983     True
2984     True
2985     True
2986     True
2987    False
2988     True
2989     True
2990    False
2991     True
2992    False
2993     True
2994     True
2995     True
2996    False
2997    False
2998     True
Name: item_price, Length: 2999, dtype: bool

In [17]:
# item_price 결측치 수정이 제대로 되었는지 최종 확인1
uriage_purchase_dataset.isnull().any()

purchase_date     False
item_name         False
item_price        False
customer_name     False
purchase_month    False
dtype: bool

In [18]:
# item_price 결측치 수정이 제대로 되었는지 최종 확인2
for item in sorted(list(uriage_purchase_dataset["item_name"].unique())):
    
    print(item + "의 최고가 : " + str(uriage_purchase_dataset.loc[uriage_purchase_dataset["item_name"] == item, ["item_price"]].max().values[0]) + " " + item + "의 최저가 : " + str(uriage_purchase_dataset.loc[uriage_purchase_dataset["item_name"] == item, ["item_price"]].min().values[0]))

상품A의 최고가 : 100.0 상품A의 최저가 : 100.0
상품B의 최고가 : 200.0 상품B의 최저가 : 200.0
상품C의 최고가 : 300.0 상품C의 최저가 : 300.0
상품D의 최고가 : 400.0 상품D의 최저가 : 400.0
상품E의 최고가 : 500.0 상품E의 최저가 : 500.0
상품F의 최고가 : 600.0 상품F의 최저가 : 600.0
상품G의 최고가 : 700.0 상품G의 최저가 : 700.0
상품H의 최고가 : 800.0 상품H의 최저가 : 800.0
상품I의 최고가 : 900.0 상품I의 최저가 : 900.0
상품J의 최고가 : 1000.0 상품J의 최저가 : 1000.0
상품K의 최고가 : 1100.0 상품K의 최저가 : 1100.0
상품L의 최고가 : 1200.0 상품L의 최저가 : 1200.0
상품M의 최고가 : 1300.0 상품M의 최저가 : 1300.0
상품N의 최고가 : 1400.0 상품N의 최저가 : 1400.0
상품O의 최고가 : 1500.0 상품O의 최저가 : 1500.0
상품P의 최고가 : 1600.0 상품P의 최저가 : 1600.0
상품Q의 최고가 : 1700.0 상품Q의 최저가 : 1700.0
상품R의 최고가 : 1800.0 상품R의 최저가 : 1800.0
상품S의 최고가 : 1900.0 상품S의 최저가 : 1900.0
상품T의 최고가 : 2000.0 상품T의 최저가 : 2000.0
상품U의 최고가 : 2100.0 상품U의 최저가 : 2100.0
상품V의 최고가 : 2200.0 상품V의 최저가 : 2200.0
상품W의 최고가 : 2300.0 상품W의 최저가 : 2300.0
상품X의 최고가 : 2400.0 상품X의 최저가 : 2400.0
상품Y의 최고가 : 2500.0 상품Y의 최저가 : 2500.0
상품Z의 최고가 : 2600.0 상품Z의 최저가 : 2600.0

In [19]:
# 고객정보 데이터셋의 고객이름 오류 수정
kokyaku_customer_dataset["고객이름"] = kokyaku_customer_dataset["고객이름"].str.replace(" ", "")
kokyaku_customer_dataset["고객이름"] = kokyaku_customer_dataset["고객이름"].str.replace("  ", "")

kokyaku_customer_dataset

    고객이름  지역                  등록일
0    김현성  H시  2018-01-04 00:00:00
1    김도윤  E시                42782
2    김지한  A시  2018-01-07 00:00:00
3    김하윤  F시                42872
4    김시온  E시                43127
5    김예성  A시  2017-06-20 00:00:00
6    김하람  H시  2018-06-11 00:00:00
7    김호준  B시  2017-05-19 00:00:00
8    김지완  G시  2018-02-12 00:00:00
9    김주호  G시  2017-07-05 00:00:00
10   김재원  E시  2018-03-31 00:00:00
11   김승민  A시  2017-04-22 00:00:00
12   김준형  C시  2018-03-09 00:00:00
13   김동건  D시  2017-03-13 00:00:00
14   김준서  E시  2018-01-24 00:00:00
15   김수혁  G시  2017-06-09 00:00:00
16   김진우  D시  2018-05-02 00:00:00
17   김윤호  G시  2017-02-05 00:00:00
18   김윤서  H시  2018-07-10 00:00:00
19   김준희  H시  2017-07-08 00:00:00
20   김윤우  A시  2018-03-12 00:00:00
21   김동우  A시                42920
22   김성빈  H시  2018-02-28 00:00:00
23   김태준  E시  2017-05-16 00:00:00
24   김태경  D시  2018-01-29 00:00:00
25   김승후  C시  2017-03-17 00:00:00
26   김현우  C시  2018-06-28 00:00:00
27   김서준  C시                42901
28   김주원  C시  2018-05-21 00:00:00
29   김태인  F시  2017-03-12 00:00:00
..   ...  ..                  ...
170  김시환  F시  2018-05-27 00:00:00
171  김수현  E시  2017-02-22 00:00:00
172  김서율  G시                43181
173  정준기  B시  2017-02-05 00:00:00
174  김성훈  B시  2018-01-09 00:00:00
175  김시호  H시  2017-06-12 00:00:00
176  김재호  C시  2018-02-14 00:00:00
177  김재우  D시  2017-04-14 00:00:00
178  김동하  F시  2018-03-15 00:00:00
179  김우현  C시                42743
180  김민기  G시  2018-07-19 00:00:00
181  김승환  B시  2017-05-23 00:00:00
182  김다온  A시  2018-05-01 00:00:00
183  김승우  B시                42940
184  김성준  H시  2018-05-24 00:00:00
185  김승호  F시  2017-04-08 00:00:00
186  김승주  E시                43294
187  김태윤  E시  2017-05-09 00:00:00
188  김민수  D시  2018-07-22 00:00:00
189  김현민  D시  2017-07-30 00:00:00
190  김유진  B시  2018-06-14 00:00:00
191  김지안  B시  2017-01-28 00:00:00
192  김현석  H시                43259
193  김선우  H시  2017-05-05 00:00:00
194  김지원  H시  2018-02-27 00:00:00
195  김재희  G시  2017-06-20 00:00:00
196  김도영  E시  2018-06-20 00:00:00
197  김이안  F시  2017-04-29 00:00:00
198  김시현  H시  2019-04-19 00:00:00
199  김서우  D시  2019-04-23 00:00:00

[200 rows x 3 columns]

In [20]:
# kokyaku_customer_dataset 내 컬럼들의 데이터 유형 확인 
kokyaku_customer_dataset.dtypes

고객이름    object
지역      object
등록일     object
dtype: object

In [22]:
# 고객정보 데이터셋 내 등록일 컬럼내 날짜 형식이 아닌 숫자 형식으로 적혀진 데이터 값들을 알아내는 방법
flg_is_just_digit = kokyaku_customer_dataset["등록일"].astype("str").str.isdigit()
print(flg_is_just_digit, "\n")
print("등록일 컬럼에서 단지 숫자로 표기된 데이터 값의 총 개수 :", flg_is_just_digit.sum())

0      False
1       True
2      False
3       True
4       True
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21      True
22     False
23     False
24     False
25     False
26     False
27      True
28     False
29     False
       ...
170    False
171    False
172     True
173    False
174    False
175    False
176    False
177    False
178    False
179     True
180    False
181    False
182    False
183     True
184    False
185    False
186     True
187    False
188    False
189    False
190    False
191    False
192     True
193    False
194    False
195    False
196    False
197    False
198    False
199    False
Name: 등록일, Length: 200, dtype: bool

등록일 컬럼에서 단지 숫자로 표기된 데이터 값의 총 개수 : 22

In [23]:
# pd.to_timedelta() : 등록일 컬럼 내 숫자로 표기된 값들을 '시간' 형식으로 변환하는 메소드
result_error_fixed = pd.to_timedelta(kokyaku_customer_dataset.loc[flg_is_just_digit, "등록일"].astype("float"), unit="D") + pd.to_datetime("1900/01/01")
display(result_error_fixed)

1     2017-02-18
3     2017-05-19
4     2018-01-29
21    2017-07-06
27    2017-06-17
47    2017-01-08
49    2017-07-15
53    2017-04-10
76    2018-03-31
80    2018-01-12
99    2017-06-01
114   2018-06-05
118   2018-01-31
122   2018-04-18
139   2017-05-27
143   2017-03-26
155   2017-01-21
172   2018-03-24
179   2017-01-10
183   2017-07-26
186   2018-07-15
192   2018-06-10
Name: 등록일, dtype: datetime64[ns]

In [24]:
# 등록일 컬럼 내 날짜 형식으로 표기된 값들을 요소로 가진 Serise의 domain을 datetime으로 변환하기(위 Series의 domain과 통일시키기)
correct_Series = pd.to_datetime(kokyaku_customer_dataset.loc[~flg_is_just_digit, "등록일"])
display(correct_Series)

0     2018-01-04
2     2018-01-07
5     2017-06-20
6     2018-06-11
7     2017-05-19
8     2018-02-12
9     2017-07-05
10    2018-03-31
11    2017-04-22
12    2018-03-09
13    2017-03-13
14    2018-01-24
15    2017-06-09
16    2018-05-02
17    2017-02-05
18    2018-07-10
19    2017-07-08
20    2018-03-12
22    2018-02-28
23    2017-05-16
24    2018-01-29
25    2017-03-17
26    2018-06-28
28    2018-05-21
29    2017-03-12
30    2018-07-01
31    2017-01-30
32    2018-02-06
33    2017-01-30
34    2018-04-21
         ...
165   2017-02-18
166   2018-03-04
167   2017-03-29
168   2018-07-02
169   2017-06-28
170   2018-05-27
171   2017-02-22
173   2017-02-05
174   2018-01-09
175   2017-06-12
176   2018-02-14
177   2017-04-14
178   2018-03-15
180   2018-07-19
181   2017-05-23
182   2018-05-01
184   2018-05-24
185   2017-04-08
187   2017-05-09
188   2018-07-22
189   2017-07-30
190   2018-06-14
191   2017-01-28
193   2017-05-05
194   2018-02-27
195   2017-06-20
196   2018-06-20
197   2017-04-29
198   2019-04-19
199   2019-04-23
Name: 등록일, Length: 178, dtype: datetime64[ns]

In [25]:
# 위의 두 결과를 union하고, 해당 결과를 고객정보 데이터 셋으로 갱신
kokyaku_customer_dataset["등록일"] = pd.concat([result_error_fixed, correct_Series])
display(kokyaku_customer_dataset)
print(kokyaku_customer_dataset.dtypes)

    고객이름  지역        등록일
0    김현성  H시 2018-01-04
1    김도윤  E시 2017-02-18
2    김지한  A시 2018-01-07
3    김하윤  F시 2017-05-19
4    김시온  E시 2018-01-29
5    김예성  A시 2017-06-20
6    김하람  H시 2018-06-11
7    김호준  B시 2017-05-19
8    김지완  G시 2018-02-12
9    김주호  G시 2017-07-05
10   김재원  E시 2018-03-31
11   김승민  A시 2017-04-22
12   김준형  C시 2018-03-09
13   김동건  D시 2017-03-13
14   김준서  E시 2018-01-24
15   김수혁  G시 2017-06-09
16   김진우  D시 2018-05-02
17   김윤호  G시 2017-02-05
18   김윤서  H시 2018-07-10
19   김준희  H시 2017-07-08
20   김윤우  A시 2018-03-12
21   김동우  A시 2017-07-06
22   김성빈  H시 2018-02-28
23   김태준  E시 2017-05-16
24   김태경  D시 2018-01-29
25   김승후  C시 2017-03-17
26   김현우  C시 2018-06-28
27   김서준  C시 2017-06-17
28   김주원  C시 2018-05-21
29   김태인  F시 2017-03-12
..   ...  ..        ...
170  김시환  F시 2018-05-27
171  김수현  E시 2017-02-22
172  김서율  G시 2018-03-24
173  정준기  B시 2017-02-05
174  김성훈  B시 2018-01-09
175  김시호  H시 2017-06-12
176  김재호  C시 2018-02-14
177  김재우  D시 2017-04-14
178  김동하  F시 2018-03-15
179  김우현  C시 2017-01-10
180  김민기  G시 2018-07-19
181  김승환  B시 2017-05-23
182  김다온  A시 2018-05-01
183  김승우  B시 2017-07-26
184  김성준  H시 2018-05-24
185  김승호  F시 2017-04-08
186  김승주  E시 2018-07-15
187  김태윤  E시 2017-05-09
188  김민수  D시 2018-07-22
189  김현민  D시 2017-07-30
190  김유진  B시 2018-06-14
191  김지안  B시 2017-01-28
192  김현석  H시 2018-06-10
193  김선우  H시 2017-05-05
194  김지원  H시 2018-02-27
195  김재희  G시 2017-06-20
196  김도영  E시 2018-06-20
197  김이안  F시 2017-04-29
198  김시현  H시 2019-04-19
199  김서우  D시 2019-04-23

[200 rows x 3 columns]

고객이름            object
지역              object
등록일     datetime64[ns]
dtype: object

In [26]:
# 등록일 컬럼의 모든 데이터 값들이 datetime domain으로 잘 변환되었는지 검토
kokyaku_customer_dataset["등록일"].astype("str").str.isdigit().sum()

0

In [27]:
# 등록일 컬럼으로부터 등록월을 추출하기
kokyaku_customer_dataset["등록연월"] = kokyaku_customer_dataset["등록일"].dt.strftime("%Y%m")
display(kokyaku_customer_dataset["등록연월"])

result = kokyaku_customer_dataset.groupby("등록연월").count()["고객이름"]
result

0      201801
1      201702
2      201801
3      201705
4      201801
5      201706
6      201806
7      201705
8      201802
9      201707
10     201803
11     201704
12     201803
13     201703
14     201801
15     201706
16     201805
17     201702
18     201807
19     201707
20     201803
21     201707
22     201802
23     201705
24     201801
25     201703
26     201806
27     201706
28     201805
29     201703
        ...
170    201805
171    201702
172    201803
173    201702
174    201801
175    201706
176    201802
177    201704
178    201803
179    201701
180    201807
181    201705
182    201805
183    201707
184    201805
185    201704
186    201807
187    201705
188    201807
189    201707
190    201806
191    201701
192    201806
193    201705
194    201802
195    201706
196    201806
197    201704
198    201904
199    201904
Name: 등록연월, Length: 200, dtype: object

등록연월
201701    15
201702    11
201703    14
201704    15
201705    13
201706    14
201707    17
201801    13
201802    15
201803    17
201804     5
201805    19
201806    13
201807    17
201904     2
Name: 고객이름, dtype: int64

In [28]:
display(uriage_purchase_dataset.head())
display(kokyaku_customer_dataset.head())

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:00       상품A       100.0           김가온         201906
1 2019-07-13 13:05:00       상품S      1900.0           김우찬         201907
2 2019-05-11 19:42:00       상품A       100.0           김유찬         201905
3 2019-02-12 23:40:00       상품Z      2600.0           김재현         201902
4 2019-04-22 03:09:00       상품A       100.0           김강현         201904

  고객이름  지역        등록일    등록연월
0  김현성  H시 2018-01-04  201801
1  김도윤  E시 2017-02-18  201702
2  김지한  A시 2018-01-07  201801
3  김하윤  F시 2017-05-19  201705
4  김시온  E시 2018-01-29  201801

In [29]:
# 잘 수정된 두 개의 데이터셋을 left_join하고, 해당 데이터셋을 다루기 쉽도록 컬럼을 재배치
join_dataset = pd.merge(uriage_purchase_dataset, kokyaku_customer_dataset, left_on="customer_name", right_on="고객이름", how="left")
# display(join_dataset)
join_dataset = join_dataset[["purchase_date", "purchase_month", "item_name", "item_price", "고객이름", "지역", "등록일"]]
display(join_dataset)

,purchase_date,purchase_month,item_name,item_price,고객이름,지역,등록일
0,2019-06-13 18:02:00,201906,상품A,100.0,김가온,C시,2017-01-26
1,2019-07-13 13:05:00,201907,상품S,1900.0,김우찬,C시,2018-04-07
2,2019-05-11 19:42:00,201905,상품A,100.0,김유찬,A시,2018-06-19
3,2019-02-12 23:40:00,201902,상품Z,2600.0,김재현,D시,2018-07-22
4,2019-04-22 03:09:00,201904,상품A,100.0,김강현,D시,2017-06-07
5,2019-03-20 19:16:00,201903,상품S,1900.0,김우진,H시,2018-05-14
6,2019-05-18 19:16:00,201905,상품A,100.0,김재준,A시,2018-02-21
7,2019-04-18 00:14:00,201904,상품V,2200.0,김민혁,A시,2017-05-13
8,2019-01-10 15:51:00,201901,상품O,1500.0,김선우,H시,2017-05-05
9,2019-01-28 10:47:00,201901,상품A,100.0,김태윤,E시,2017-05-09
10,2019-06-21 01:54:00,201906,상품U,2100.0,김시완,A시,2018-05-20
11,2019-06-08 11:32:00,201906,상품L,1200.0,김도윤,E시,2017-02-18
12,2019-04-08 02:00:00,201904,상품V,2200.0,김주한,D시,2018-06-05
13,2019-06-19 09:50:00,201906,상품O,1500.0,김도원,A시,2017-03-29
14,2019-06-11 12:57:00,201906,상품A,100.0,김재호,C시,2018-02-14
15,2019-04-21 00:11:00,201904,상품C,300.0,김지율,B시,2017-03-15
16,2019-03-28 23:24:00,201903,상품V,2200.0,김재훈,D시,2017-03-23
17,2019-04-06 12:00:00,201904,상품I,900.0,김상현,G시,2017-03-26
18,2019-07-16 05:55:00,201907,상품R,1800.0,김준성,D시,2017-07-28
19,2019-07-03 07:04:00,201907,상품X,2400.0,김성민,A시,2018-02-06
20,2019-07-05 10:49:00,201907,상품O,1500.0,김서후,A시,2017-05-23
21,2019-06-10 19:07:00,201906,상품G,700.0,김승유,A시,2017-04-27
22,2019-07-10 20:28:00,201907,상품X,2400.0,김동욱,A시,2018-07-04
23,2019-07-10 12:44:00,201907,상품R,1800.0,김대현,H시,2017-01-30
24,2019-02-14 01:30:00,201902,상품P,1600.0,김동건,D시,2017-03-13
25,2019-04-18 01:50:00,201904,상품Q,1700.0,김우찬,C시,2018-04-07
26,2019-05-16 04:45:00,201905,상품Y,2500.0,김태현,B시,2018-02-13
27,2019-05-26 10:58:00,201905,상품P,1600.0,김다온,A시,2018-05-01
28,2019-01-04 12:05:00,201901,상품P,1600.0,김우진,H시,2018-05-14
29,2019-02-11 18:32:00,201902,상품R,1800.0,김하윤,F시,2017-05-19
...,...,...,...,...,...,...,...
2969,2019-02-01 03:48:00,201902,상품O,1500.0,김은혁,E시,2017-01-21
2970,2019-03-15 11:17:00,201903,상품L,1200.0,김시훈,E시,2018-07-23
2971,2019-02-02 04:52:00,201902,상품S,1900.0,김태우,F시,2018-06-18
2972,2019-04-30 19:47:00,201904,상품R,1800.0,김준수,E시,2018-02-17
2973,2019-07-13 21:38:00,201907,상품A,100.0,김태윤,E시,2017-05-09
2974,2019-02-04 17:08:00,201902,상품P,1600.0,김예준,C시,2018-07-22
2975,2019-07-21 10:36:00,201907,상품Y,2500.0,김지오,F시,2017-05-27
2976,2019-07-11 00:11:00,201907,상품L,1200.0,김윤찬,C시,2017-04-06
2977,2019-03-02 20:55:00,201903,상품X,2400.0,김우준,D시,2018-05-22
2978,2019-04-06 21:20:00,201904,상품N,1400.0,김우찬,C시,2018-04-07
2979,2019-03-09 17:26:00,201903,상품N,1400.0,김승빈,G시,2017-07-07
2980,2019-07-01 02:15:00,201907,상품P,1600.0,김지오,F시,2017-05-27
2981,2019-04-26 22:17:00,201904,상품R,1800.0,김현승,A시,2018-01-08
2982,2019-02-18 16:53:00,201902,상품L,1200.0,김민서,B시,2018-07-02
2983,2019-05-09 00:44:00,201905,상품H,800.0,김민준,H시,2017-07-01
2984,2019-03-06 06:16:00,201903,상품G,700.0,김승호,F시,2017-04-08
2985,2019-03-06 22:30:00,201903,상품X,2400.0,김현진,H시,2017-07-13
2986,2019-03-12 19:34:00,201903,상품C,300.0,김정후,G시,2018-05-07
2987,2019-01-04 13:05:00,201901,상품K,1100.0,김정훈,D시,2018-07-30
2988,2019-01-23 07:08:00,201901,상품R,1800.0,김시완,A시,2018-05-20
2989,2019-05-19 03:20:00,201905,상품M,1300.0,김태훈,A시,2018-01-06
2990,2019-07-16 11:34:00,201907,상품O,1500.0,김서준,C시,2017-06-17
2991,2019-02-18 14:36:00,201902,상품W,2300.0,김우빈,D시,2017-07-20
2992,2019-07-27 10:13:00,201907,상품C,300.0,김동하,F시,2018-03-15
2993,2019-01-25 03:57:00,201901,상품C,300.0,김이안,F시,2017-04-29
2994,2019-02-15 02:56:00,201902,상품Y,2500.0,김정민,B시,2017-07-01
2995,2019-06-22 04:03:00,201906,상품M,1300.0,김재원,E시,2018-03-31
2996,2019-03-29 11:14:00,201903,상품Q,1700.0,김지율,B시,2017-03-15
2997,2019-07-14 12:56:00,201907,상품H,800.0,김승주,E시,2018-07-15
2998,2019-07-21 00:31:00,201907,상품D,400.0,정준기,B시,2017-02-05

In [31]:
join_dataset.loc[join_dataset["고객이름"] == "김가온", ["purchase_month", "item_name", "고객이름", "등록일"]].sort_values(by = "purchase_month", ascending=True)

     purchase_month item_name 고객이름        등록일
281          201901       상품J  김가온 2017-01-26
2282         201902       상품I  김가온 2017-01-26
2388         201902       상품C  김가온 2017-01-26
720          201902       상품M  김가온 2017-01-26
1152         201903       상품O  김가온 2017-01-26
1694         201903       상품C  김가온 2017-01-26
1120         201903       상품W  김가온 2017-01-26
2537         201903       상품U  김가온 2017-01-26
568          201904       상품A  김가온 2017-01-26
1381         201906       상품T  김가온 2017-01-26
1725         201906       상품X  김가온 2017-01-26
117          201906       상품A  김가온 2017-01-26
1089         201906       상품U  김가온 2017-01-26
0            201906       상품A  김가온 2017-01-26
1590         201907       상품T  김가온 2017-01-26
495          201907       상품X  김가온 2017-01-26
1857         201907       상품N  김가온 2017-01-26

In [ ]:
# 해당 데이터셋을 csv파일로 저장
join_dataset.to_csv("dump_data.csv", index = False)

In [32]:
# csv파일로 저장된 dataset을 불러오기
import_dataset = pd.read_csv("dump_data.csv")
display(import_dataset)

,purchase_date,purchase_month,item_name,item_price,고객이름,지역,등록일
0,2019-06-13 18:02:00,201906,상품A,100.0,김가온,C시,2017-01-26 00:00:00
1,2019-07-13 13:05:00,201907,상품S,1900.0,김우찬,C시,2018-04-07 00:00:00
2,2019-05-11 19:42:00,201905,상품A,100.0,김유찬,A시,2018-06-19 00:00:00
3,2019-02-12 23:40:00,201902,상품Z,2600.0,김재현,D시,2018-07-22 00:00:00
4,2019-04-22 03:09:00,201904,상품A,100.0,김강현,D시,2017-06-07 00:00:00
5,2019-03-20 19:16:00,201903,상품S,1900.0,김우진,H시,2018-05-14 00:00:00
6,2019-05-18 19:16:00,201905,상품A,100.0,김재준,A시,2018-02-21 00:00:00
7,2019-04-18 00:14:00,201904,상품V,2200.0,김민혁,A시,2017-05-13 00:00:00
8,2019-01-10 15:51:00,201901,상품O,1500.0,김선우,H시,2017-05-05 00:00:00
9,2019-01-28 10:47:00,201901,상품A,100.0,김태윤,E시,2017-05-09 00:00:00
10,2019-06-21 01:54:00,201906,상품U,2100.0,김시완,A시,2018-05-20 00:00:00
11,2019-06-08 11:32:00,201906,상품L,1200.0,김도윤,E시,2017-02-18 00:00:00
12,2019-04-08 02:00:00,201904,상품V,2200.0,김주한,D시,2018-06-05 00:00:00
13,2019-06-19 09:50:00,201906,상품O,1500.0,김도원,A시,2017-03-29 00:00:00
14,2019-06-11 12:57:00,201906,상품A,100.0,김재호,C시,2018-02-14 00:00:00
15,2019-04-21 00:11:00,201904,상품C,300.0,김지율,B시,2017-03-15 00:00:00
16,2019-03-28 23:24:00,201903,상품V,2200.0,김재훈,D시,2017-03-23 00:00:00
17,2019-04-06 12:00:00,201904,상품I,900.0,김상현,G시,2017-03-26 00:00:00
18,2019-07-16 05:55:00,201907,상품R,1800.0,김준성,D시,2017-07-28 00:00:00
19,2019-07-03 07:04:00,201907,상품X,2400.0,김성민,A시,2018-02-06 00:00:00
20,2019-07-05 10:49:00,201907,상품O,1500.0,김서후,A시,2017-05-23 00:00:00
21,2019-06-10 19:07:00,201906,상품G,700.0,김승유,A시,2017-04-27 00:00:00
22,2019-07-10 20:28:00,201907,상품X,2400.0,김동욱,A시,2018-07-04 00:00:00
23,2019-07-10 12:44:00,201907,상품R,1800.0,김대현,H시,2017-01-30 00:00:00
24,2019-02-14 01:30:00,201902,상품P,1600.0,김동건,D시,2017-03-13 00:00:00
25,2019-04-18 01:50:00,201904,상품Q,1700.0,김우찬,C시,2018-04-07 00:00:00
26,2019-05-16 04:45:00,201905,상품Y,2500.0,김태현,B시,2018-02-13 00:00:00
27,2019-05-26 10:58:00,201905,상품P,1600.0,김다온,A시,2018-05-01 00:00:00
28,2019-01-04 12:05:00,201901,상품P,1600.0,김우진,H시,2018-05-14 00:00:00
29,2019-02-11 18:32:00,201902,상품R,1800.0,김하윤,F시,2017-05-19 00:00:00
...,...,...,...,...,...,...,...
2969,2019-02-01 03:48:00,201902,상품O,1500.0,김은혁,E시,2017-01-21 00:00:00
2970,2019-03-15 11:17:00,201903,상품L,1200.0,김시훈,E시,2018-07-23 00:00:00
2971,2019-02-02 04:52:00,201902,상품S,1900.0,김태우,F시,2018-06-18 00:00:00
2972,2019-04-30 19:47:00,201904,상품R,1800.0,김준수,E시,2018-02-17 00:00:00
2973,2019-07-13 21:38:00,201907,상품A,100.0,김태윤,E시,2017-05-09 00:00:00
2974,2019-02-04 17:08:00,201902,상품P,1600.0,김예준,C시,2018-07-22 00:00:00
2975,2019-07-21 10:36:00,201907,상품Y,2500.0,김지오,F시,2017-05-27 00:00:00
2976,2019-07-11 00:11:00,201907,상품L,1200.0,김윤찬,C시,2017-04-06 00:00:00
2977,2019-03-02 20:55:00,201903,상품X,2400.0,김우준,D시,2018-05-22 00:00:00
2978,2019-04-06 21:20:00,201904,상품N,1400.0,김우찬,C시,2018-04-07 00:00:00
2979,2019-03-09 17:26:00,201903,상품N,1400.0,김승빈,G시,2017-07-07 00:00:00
2980,2019-07-01 02:15:00,201907,상품P,1600.0,김지오,F시,2017-05-27 00:00:00
2981,2019-04-26 22:17:00,201904,상품R,1800.0,김현승,A시,2018-01-08 00:00:00
2982,2019-02-18 16:53:00,201902,상품L,1200.0,김민서,B시,2018-07-02 00:00:00
2983,2019-05-09 00:44:00,201905,상품H,800.0,김민준,H시,2017-07-01 00:00:00
2984,2019-03-06 06:16:00,201903,상품G,700.0,김승호,F시,2017-04-08 00:00:00
2985,2019-03-06 22:30:00,201903,상품X,2400.0,김현진,H시,2017-07-13 00:00:00
2986,2019-03-12 19:34:00,201903,상품C,300.0,김정후,G시,2018-05-07 00:00:00
2987,2019-01-04 13:05:00,201901,상품K,1100.0,김정훈,D시,2018-07-30 00:00:00
2988,2019-01-23 07:08:00,201901,상품R,1800.0,김시완,A시,2018-05-20 00:00:00
2989,2019-05-19 03:20:00,201905,상품M,1300.0,김태훈,A시,2018-01-06 00:00:00
2990,2019-07-16 11:34:00,201907,상품O,1500.0,김서준,C시,2017-06-17 00:00:00
2991,2019-02-18 14:36:00,201902,상품W,2300.0,김우빈,D시,2017-07-20 00:00:00
2992,2019-07-27 10:13:00,201907,상품C,300.0,김동하,F시,2018-03-15 00:00:00
2993,2019-01-25 03:57:00,201901,상품C,300.0,김이안,F시,2017-04-29 00:00:00
2994,2019-02-15 02:56:00,201902,상품Y,2500.0,김정민,B시,2017-07-01 00:00:00
2995,2019-06-22 04:03:00,201906,상품M,1300.0,김재원,E시,2018-03-31 00:00:00
2996,2019-03-29 11:14:00,201903,상품Q,1700.0,김지율,B시,2017-03-15 00:00:00
2997,2019-07-14 12:56:00,201907,상품H,800.0,김승주,E시,2018-07-15 00:00:00
2998,2019-07-21 00:31:00,201907,상품D,400.0,정준기,B시,2017-02-05 00:00:00

In [34]:
# 월별&상품별 count 집계
byitem = import_dataset.pivot_table(index = "purchase_month", columns = "item_name", aggfunc = "size", fill_value = 0)
display(byitem)

item_name,상품A,상품B,상품C,상품D,상품E,상품F,상품G,상품H,상품I,상품J,...,상품Q,상품R,상품S,상품T,상품U,상품V,상품W,상품X,상품Y,상품Z
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,18,13,19,17,18,15,11,16,18,17,...,17,21,20,17,7,22,13,14,10,0
201902,19,14,26,21,16,14,14,17,12,14,...,22,22,22,23,19,22,24,16,11,1
201903,17,21,20,17,9,27,14,18,12,16,...,23,16,20,12,23,18,16,21,16,0
201904,17,19,24,20,18,17,14,11,18,13,...,20,20,16,16,11,15,14,16,20,0
201905,24,14,16,14,19,18,23,15,16,11,...,13,22,18,16,16,9,21,16,20,0
201906,24,12,11,19,13,18,15,13,19,22,...,15,16,21,12,18,20,17,15,13,0
201907,20,20,17,17,12,17,19,19,19,23,...,15,19,23,21,13,28,16,18,12,0

In [35]:
# 월별&상품별 'item_price'에 대한 sum 집계
byitem = import_dataset.pivot_table(index = "purchase_month", columns = "item_name", values = "item_price", aggfunc = "sum", fill_value = 0)
display(byitem)

item_name,상품A,상품B,상품C,상품D,상품E,상품F,상품G,상품H,상품I,상품J,...,상품Q,상품R,상품S,상품T,상품U,상품V,상품W,상품X,상품Y,상품Z
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1800,2600,5700,6800,9000,9000,7700,12800,16200,17000,...,28900,37800,38000,34000,14700,48400,29900,33600,25000,0
201902,1900,2800,7800,8400,8000,8400,9800,13600,10800,14000,...,37400,39600,41800,46000,39900,48400,55200,38400,27500,2600
201903,1700,4200,6000,6800,4500,16200,9800,14400,10800,16000,...,39100,28800,38000,24000,48300,39600,36800,50400,40000,0
201904,1700,3800,7200,8000,9000,10200,9800,8800,16200,13000,...,34000,36000,30400,32000,23100,33000,32200,38400,50000,0
201905,2400,2800,4800,5600,9500,10800,16100,12000,14400,11000,...,22100,39600,34200,32000,33600,19800,48300,38400,50000,0
201906,2400,2400,3300,7600,6500,10800,10500,10400,17100,22000,...,25500,28800,39900,24000,37800,44000,39100,36000,32500,0
201907,2000,4000,5100,6800,6000,10200,13300,15200,17100,23000,...,25500,34200,43700,42000,27300,61600,36800,43200,30000,0

In [36]:
# 월별&고객별 count 집계
byCustomer = import_dataset.pivot_table(index = "purchase_month", columns = "고객이름", aggfunc = "size", fill_value = 0)
display(byCustomer)

고객이름,김가온,김강민,김강현,김건우,김건희,김경민,김규민,김규현,김다온,김대현,...,김현수,김현승,김현우,김현준,김현진,김호준,정도형,정영훈,정우석,정준기
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1,2,1,2,5,3,1,1,1,5,...,3,2,4,2,1,1,4,4,4,3
201902,3,1,4,3,3,5,2,3,1,5,...,5,3,7,0,0,1,2,0,2,2
201903,4,0,3,1,1,2,2,1,1,5,...,3,2,1,2,1,2,1,2,3,4
201904,1,0,3,0,2,1,2,6,2,4,...,0,4,3,1,1,2,2,4,3,1
201905,0,0,2,2,1,4,6,3,3,1,...,2,2,1,4,3,0,0,0,1,2
201906,5,0,3,0,2,1,6,1,1,1,...,2,4,1,0,4,2,2,0,0,2
201907,3,1,3,2,2,1,4,1,4,3,...,2,1,0,4,0,2,6,1,2,3

In [37]:
# 월별&지역별 count 집계
byRegion = import_dataset.pivot_table(index = "purchase_month", columns = "지역", aggfunc = "size", fill_value = 0)
display(byRegion)

지역              A시  B시  C시  D시  E시  F시  G시  H시
purchase_month
201901          59  55  72  34  49  57  49  42
201902          71  46  65  48  61  52  43  63
201903          64  52  57  43  52  59  51  59
201904          64  48  54  45  48  58  40  52
201905          57  52  68  48  59  65  35  43
201906          53  47  61  30  51  51  58  58
201907          76  53  61  42  54  64  47  54

In [41]:
# 'uriage_purchase_dataset'에 저장되어 있지 않은 고객 추출
away_data = pd.merge(uriage_purchase_dataset, kokyaku_customer_dataset, left_on = "customer_name", right_on = "고객이름", how = "right")
away_data.loc[away_data.isnull()["purchase_date"], "고객이름"]

2999    김서우
Name: 고객이름, dtype: object