In [6]:
uriage_purchase_dataset = pd.read_csv("./pyda100-master/Chapter_2/uriage.csv")
uriage_purchase_dataset

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05     상 품 S         NaN           김우찬
2     2019-05-11 19:42     상 품 a         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품a         NaN           김강현
5     2019-03-20 19:16       상품S      1900.0           김우진
6     2019-05-18 19:16      상품 a         NaN           김재준
7      2019-04-18 0:14       상품V      2200.0           김민혁
8     2019-01-10 15:51       상품O      1500.0           김선우
9     2019-01-28 10:47       상품A       100.0           김태윤
10     2019-06-21 1:54      상 품U      2100.0           김시완
11    2019-06-08 11:32       상품L      1200.0           김도윤
12     2019-04-08 2:00     상  품V      2200.0           김주한
13     2019-06-19 9:50      상 품O      1500.0           김도원
14    2019-06-11 12:57       상품A         NaN           김재호
15     2019-04-21 0:11       상품C       300.0           김지율
16    2019-03-28 23:24       상품V      2200.0           김재훈
17    2019-04-06 12:00       상품I       900.0           김상현
18     2019-07-16 5:55       상품r      1800.0           김준성
19     2019-07-03 7:04       상품X      2400.0           김성민
20    2019-07-05 10:49       상품O      1500.0           김서후
21    2019-06-10 19:07      상품 g       700.0           김승유
22    2019-07-10 20:28       상품X      2400.0           김동욱
23    2019-07-10 12:44       상품R      1800.0           김대현
24     2019-02-14 1:30       상품P      1600.0           김동건
25     2019-04-18 1:50       상품Q      1700.0           김우찬
26     2019-05-16 4:45       상품y      2500.0           김태현
27    2019-05-26 10:58       상품P      1600.0           김다온
28    2019-01-04 12:05       상품P         NaN           김우진
29    2019-02-11 18:32       상품R      1800.0           김하윤
...                ...       ...         ...           ...
2969   2019-02-01 3:48       상품O      1500.0           김은혁
2970  2019-03-15 11:17       상품L      1200.0           김시훈
2971   2019-02-02 4:52       상품S      1900.0           김태우
2972  2019-04-30 19:47       상품R      1800.0           김준수
2973  2019-07-13 21:38       상품A       100.0           김태윤
2974  2019-02-04 17:08       상품P      1600.0           김예준
2975  2019-07-21 10:36       상품Y      2500.0           김지오
2976   2019-07-11 0:11       상품L      1200.0           김윤찬
2977  2019-03-02 20:55       상품X         NaN           김우준
2978  2019-04-06 21:20       상품N      1400.0           김우찬
2979  2019-03-09 17:26       상품N      1400.0           김승빈
2980   2019-07-01 2:15       상품P      1600.0           김지오
2981  2019-04-26 22:17       상품R      1800.0           김현승
2982  2019-02-18 16:53       상품L      1200.0           김민서
2983   2019-05-09 0:44       상품H       800.0           김민준
2984   2019-03-06 6:16       상품G       700.0           김승호
2985  2019-03-06 22:30       상품X      2400.0           김현진
2986  2019-03-12 19:34       상품C       300.0           김정후
2987  2019-01-04 13:05       상품K         NaN           김정훈
2988   2019-01-23 7:08       상품R      1800.0           김시완
2989   2019-05-19 3:20       상품M      1300.0           김태훈
2990  2019-07-16 11:34       상품O         NaN           김서준
2991  2019-02-18 14:36       상품W      2300.0           김우빈
2992  2019-07-27 10:13       상품C         NaN           김동하
2993   2019-01-25 3:57       상품C       300.0           김이안
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [7]:
kokyaku_customer_dataset = pd.read_excel("./pyda100-master/Chapter_2/kokyaku_daicho.xlsx")
kokyaku_customer_dataset

     고객이름  지역                  등록일
0    김 현성  H시  2018-01-04 00:00:00
1    김 도윤  E시                42782
2    김 지한  A시  2018-01-07 00:00:00
3    김 하윤  F시                42872
4    김 시온  E시                43127
5    김 예성  A시  2017-06-20 00:00:00
6    김 하람  H시  2018-06-11 00:00:00
7    김 호준  B시  2017-05-19 00:00:00
8    김 지완  G시  2018-02-12 00:00:00
9    김 주호  G시  2017-07-05 00:00:00
10   김 재원  E시  2018-03-31 00:00:00
11   김 승민  A시  2017-04-22 00:00:00
12   김 준형  C시  2018-03-09 00:00:00
13   김 동건  D시  2017-03-13 00:00:00
14   김 준서  E시  2018-01-24 00:00:00
15   김 수혁  G시  2017-06-09 00:00:00
16   김 진우  D시  2018-05-02 00:00:00
17   김 윤호  G시  2017-02-05 00:00:00
18   김 윤서  H시  2018-07-10 00:00:00
19   김 준희  H시  2017-07-08 00:00:00
20   김 윤우  A시  2018-03-12 00:00:00
21   김 동우  A시                42920
22   김 성빈  H시  2018-02-28 00:00:00
23   김 태준  E시  2017-05-16 00:00:00
24   김 태경  D시  2018-01-29 00:00:00
25   김 승후  C시  2017-03-17 00:00:00
26   김 현우  C시  2018-06-28 00:00:00
27   김 서준  C시                42901
28   김 주원  C시  2018-05-21 00:00:00
29   김 태인  F시  2017-03-12 00:00:00
..    ...  ..                  ...
170  김 시환  F시  2018-05-27 00:00:00
171  김 수현  E시  2017-02-22 00:00:00
172  김 서율  G시                43181
173  정 준기  B시  2017-02-05 00:00:00
174  김 성훈  B시  2018-01-09 00:00:00
175  김 시호  H시  2017-06-12 00:00:00
176  김 재호  C시  2018-02-14 00:00:00
177  김 재우  D시  2017-04-14 00:00:00
178  김 동하  F시  2018-03-15 00:00:00
179  김 우현  C시                42743
180  김 민기  G시  2018-07-19 00:00:00
181  김 승환  B시  2017-05-23 00:00:00
182  김 다온  A시  2018-05-01 00:00:00
183  김 승우  B시                42940
184  김 성준  H시  2018-05-24 00:00:00
185  김 승호  F시  2017-04-08 00:00:00
186  김 승주  E시                43294
187  김 태윤  E시  2017-05-09 00:00:00
188  김 민수  D시  2018-07-22 00:00:00
189  김 현민  D시  2017-07-30 00:00:00
190  김 유진  B시  2018-06-14 00:00:00
191  김 지안  B시  2017-01-28 00:00:00
192  김 현석  H시                43259
193  김 선우  H시  2017-05-05 00:00:00
194  김 지원  H시  2018-02-27 00:00:00
195  김 재희  G시  2017-06-20 00:00:00
196  김 도영  E시  2018-06-20 00:00:00
197  김 이안  F시  2017-04-29 00:00:00
198  김 시현  H시  2019-04-19 00:00:00
199  김 서우  D시  2019-04-23 00:00:00

[200 rows x 3 columns]

In [8]:
# uriage dataset의 오류 파악1
uriage_purchase_dataset["item_name"].head()

0      상품A
1    상 품 S
2    상 품 a
3      상품Z
4      상품a
Name: item_name, dtype: object

In [9]:
# uriage dataset의 오류 파악2
uriage_purchase_dataset["item_price"].head()

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

In [11]:
# 데이터에 오류가 있는 상태로 집계를 실시(상품의 개수는 26개인데, 해당 pivot table의 column의 개수가 99개로 늘어나 있는 것을 확인할 수 있음)

uriage_purchase_dataset["purchase_date"] = pd.to_datetime(uriage_purchase_dataset["purchase_date"])
uriage_purchase_dataset["purchase_month"] = uriage_purchase_dataset["purchase_date"].dt.strftime("%Y%m")
pivot_table = uriage_purchase_dataset.pivot_table(index="purchase_month", columns="item_name", values="item_price", aggfunc="sum")
pivot_table

item_name,상 품 n,상품 E,상품 M,상품 P,상품 S,상품 W,상품 X,상품W,상 품O,상 품Q,...,상품k,상품l,상품o,상품p,상품r,상품s,상품t,상품v,상품x,상품y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1100.0,1200.0,1500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201902,NaN,NaN,NaN,NaN,NaN,NaN,2400.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900.0,2000.0,2200.0,NaN,NaN
201903,NaN,500.0,1300.0,1600.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2300.0,NaN,1700.0,...,NaN,NaN,NaN,NaN,NaN,1900.0,NaN,NaN,NaN,NaN
201905,NaN,NaN,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,...,NaN,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2500.0
201906,NaN,NaN,NaN,NaN,NaN,2300.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1600.0,NaN,NaN,NaN,NaN,2400.0,NaN
201907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,1500.0,NaN,1800.0,NaN,NaN,NaN,NaN,NaN