In [19]:
# 'use_log'와 'customer_join' 테이블의 대략적인 형태와 결측치 파악

import pandas as pd

print("* use_log :")
use_log = pd.read_csv("./pyda100-master/Chapter_4/use_log.csv")
display(use_log)
print("* null count of use_log :")
display(use_log.isna().sum())

print("\n", "\n")

print("* customer_join_with_membership_period :")
customer_join_with_membership_period = pd.read_csv("./dump_files/customer_join_with_membership_period.csv")
display(customer_join_with_membership_period)
print("* null count of use_customer_join_with_membership_periodlog :")
display(customer_join_with_membership_period.isna().sum())

* use_log :

                 log_id customer_id     usedate
0       L00000049012330    AS009373  2018-04-01
1       L00000049012331    AS015315  2018-04-01
2       L00000049012332    AS040841  2018-04-01
3       L00000049012333    AS046594  2018-04-01
4       L00000049012334    AS073285  2018-04-01
...                 ...         ...         ...
197423  L00000049209753    TS977703  2019-03-31
197424  L00000049209754    TS979550  2019-03-31
197425  L00000049209755    TS995299  2019-03-31
197426  L00000049209756    TS995853  2019-03-31
197427  L00000049209757    TS999079  2019-03-31

[197428 rows x 3 columns]

* null count of use_log :

log_id         0
customer_id    0
usedate        0
dtype: int64

* customer_join_with_membership_period :

,customer_id,name,class,class_name,price,gender,start_date,end_date,membership_period,is_deleted,campaign_id,campaign_name,mean,median,max,min,routine_flg
0,OA832399,XXXX,C01,0_종일,10500,F,2015-05-01,2019-04-30,48.7,0,CA1,2_일반,4.833333,5.0,8,2,1
1,PL270116,XXXXX,C01,0_종일,10500,M,2015-05-01,2019-04-30,48.7,0,CA1,2_일반,5.083333,5.0,7,3,1
2,OA974876,XXXXX,C01,0_종일,10500,M,2015-05-01,2019-04-30,48.7,0,CA1,2_일반,4.583333,5.0,6,3,1
3,HD024127,XXXXX,C01,0_종일,10500,F,2015-05-01,2019-04-30,48.7,0,CA1,2_일반,4.833333,4.5,7,2,1
4,HD661448,XXXXX,C03,2_야간,6000,F,2015-05-01,2019-04-30,48.7,0,CA1,2_일반,3.916667,4.0,6,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4187,HD676663,XXXX,C01,0_종일,10500,M,2019-03-14,2019-04-30,1.6,0,CA1,2_일반,8.000000,8.0,8,8,0
4188,HD246549,XXXXX,C01,0_종일,10500,F,2019-03-14,2019-04-30,1.6,0,CA1,2_일반,10.000000,10.0,10,10,0
4189,GD037007,XXXXX,C03,2_야간,6000,M,2019-03-14,2019-04-30,1.6,0,CA1,2_일반,8.000000,8.0,8,8,0
4190,OA953150,XXXXX,C01,0_종일,10500,M,2019-03-14,2019-04-30,1.6,0,CA1,2_일반,11.000000,11.0,11,11,0
4191,IK692635,XXXXX,C02,1_주간,7500,F,2019-03-15,2019-04-30,1.5,0,CA1,2_일반,10.000000,10.0,10,10,0

* null count of use_customer_join_with_membership_periodlog :

customer_id          0
name                 0
class                0
class_name           0
price                0
gender               0
start_date           0
end_date             0
membership_period    0
is_deleted           0
campaign_id          0
campaign_name        0
mean                 0
median               0
max                  0
min                  0
routine_flg          0
dtype: int64

In [20]:
# 'mean', 'median', 'max', 'min', 'membership_period'변수를 클러스터링을 위한 독립변수로 선정

print("* customer_variables_for_clustering :")
customer_variables_for_clustering = customer_join_with_membership_period.loc[:, ["mean", "median", "max", "min", "membership_period"]]
display(customer_variables_for_clustering)

* customer_variables_for_clustering :

           mean  median  max  min  membership_period
0      4.833333     5.0    8    2               48.7
1      5.083333     5.0    7    3               48.7
2      4.583333     5.0    6    3               48.7
3      4.833333     4.5    7    2               48.7
4      3.916667     4.0    6    1               48.7
...         ...     ...  ...  ...                ...
4187   8.000000     8.0    8    8                1.6
4188  10.000000    10.0   10   10                1.6
4189   8.000000     8.0    8    8                1.6
4190  11.000000    11.0   11   11                1.6
4191  10.000000    10.0   10   10                1.5

[4192 rows x 5 columns]

In [21]:
"""

'K means'를 활용한 클러스터링 실시

"""

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

# 사용될 독립변수들에 표준화 실시('K means'알고리즘은 '유클리디언 거리'를 활용하기 때문에, 독립변수들에 대한 scaling이 필요함)
sc = StandardScaler()
customer_variables_scaled = sc.fit_transform(customer_variables_for_clustering)
print("* customer_variables_scaled :", "\n")
print(customer_variables_scaled, "\n")

# 클러스터링 실시
kmeans = KMeans(n_clusters=4, random_state=0)
clusters = kmeans.fit(customer_variables_scaled)

# 클러스터링 결과 확인
print("* clustering 결과 :", "\n")
print(clusters.labels_, "\n")
print("* clustering 결과 내 고유 요소 개수 :", len(set(list(clusters.labels_))), "\n")

# 클러스터링 결과를 'customer_variables_for_clustering'데이터프레임에 'cluster'라는 컬럼으로 추가
customer_variables_for_clustering["cluster"] = clusters.labels_
print("* customer_variables_for_clustering with cluster column :")
display(customer_variables_for_clustering)

* customer_variables_scaled :

[[-0.28120614 -0.13367635  0.08117747 -0.5336197   2.03415882]
 [-0.14054502 -0.13367635 -0.37992814 -0.02114919  2.03415882]
 [-0.42186727 -0.13367635 -0.84103375 -0.02114919  2.03415882]
 ...
 [ 1.50050144  1.46662237  0.08117747  2.54120338 -1.30260984]
 [ 3.18843493  3.06692109  1.46449428  4.07861492 -1.30260984]
 [ 2.62579043  2.53348819  1.00338868  3.56614441 -1.30969427]]

* clustering 결과 :

[2 2 2 ... 0 0 0]

* clustering 결과 내 고유 요소 개수 : 4

* customer_variables_for_clustering with cluster column :

           mean  median  max  min  membership_period  cluster
0      4.833333     5.0    8    2               48.7        2
1      5.083333     5.0    7    3               48.7        2
2      4.583333     5.0    6    3               48.7        2
3      4.833333     4.5    7    2               48.7        2
4      3.916667     4.0    6    1               48.7        2
...         ...     ...  ...  ...                ...      ...
4187   8.000000     8.0    8    8                1.6        0
4188  10.000000    10.0   10   10                1.6        0
4189   8.000000     8.0    8    8                1.6        0
4190  11.000000    11.0   11   11                1.6        0
4191  10.000000    10.0   10   10                1.5        0

[4192 rows x 6 columns]

# 클러스터링 결과 분석

In [22]:
from pandasql import sqldf

# 클러스터별 고객수 확인

customer_variables_for_clustering.columns = ["월_방문횟수_평균값", "월_방문횟수_중앙값", "월_방문횟수_최댓값", "월_방문횟수_최솟값", "회원기간", "cluster"] # 컬럼명 변경

print("* count_by_cluster :")
count_by_cluster = sqldf("""
                            SELECT cluster,
                                   COUNT(1) AS CNT
                            FROM customer_variables_for_clustering
                            GROUP BY cluster
                        """)
display(count_by_cluster)

* count_by_cluster :

   cluster   CNT
0        0   846
1        1  1333
2        2  1252
3        3   761

In [4]:
# '''

# 클러스터링 결과 분석

# '''

# from pandasql import sqldf

# # 클러스터별 고객수 확인

# customer_variables_for_clustering.columns = ["월_방문횟수_평균값", "월_방문횟수_중앙값", "월_방문횟수_최댓값", "월_방문횟수_최솟값", "회원기간", "cluster"] # 컬럼명 변경
# count_by_cluster = sqldf("""
#                             SELECT cluster,
#                                    COUNT(1)
#                             FROM customer_variables_for_clustering
#                             GROUP BY cluster
#                         """)

         월 방문횟수 평균값  월 방문횟수 중앙값  월 방문횟수 최댓값  월 방문횟수 최솟값  회원기간
cluster
0               841         841         841         841   841
1              1248        1248        1248        1248  1248
2               771         771         771         771   771
3              1332        1332        1332        1332  1332

In [23]:
# 클러스터별 평균값 확인
print("* AVG_by_cluster :")
AVG_by_cluster = sqldf("""
                            SELECT cluster,
                                   AVG(월_방문횟수_평균값) AS AVG_월_방문횟수_평균값,
                                   AVG(월_방문횟수_중앙값) AS AVG_월_방문횟수_중앙값,
                                   AVG(월_방문횟수_최댓값) AS AVG_월_방문횟수_최댓값,
                                   AVG(월_방문횟수_최솟값) AS AVG_월_방문횟수_최솟값,
                                   AVG(회원기간)          AS AVG_회원기간
                            FROM customer_variables_for_clustering
                            GROUP BY cluster
                        """)
display(AVG_by_cluster)

* AVG_by_cluster :

,cluster,AVG_월_방문횟수_평균값,AVG_월_방문횟수_중앙값,AVG_월_방문횟수_최댓값,AVG_월_방문횟수_최솟값,AVG_회원기간
0,0,8.054608,8.039598,10.009456,6.160757,7.923759
1,1,5.523663,5.374344,8.745686,2.686422,15.905176
2,2,4.677681,4.670927,7.234026,2.155751,38.370048
3,3,3.052261,2.886991,4.750329,1.651774,10.303285

# '주성분 분석'을 통한 차원 축소를 이용하여, 클러스터링 결과 시각화 실시

In [25]:
from sklearn.decomposition import PCA

# 'customer_variables_for_clustering'에 PCA 실시
X = customer_variables_for_clustering
pca = PCA(n_components=2)
pca.fit(X)
X_done_with_pca = pca.transform(X)

print("* X_done_with_pca :")
print(X_done_with_pca)

# # pca 결과를 Dataframe으로 생성한 뒤, 해당 Dataframe에 'cluster'컬럼 추가
df_pca = pd.DataFrame(X_done_with_pca)
df_pca["cluster"] = customer_variables_for_clustering["cluster"]
print("* df_pca :")
display(df_pca)

# # matplotlib으로 시각화
# %matplotlib inline
# for i in customer_variables_for_clustering["cluster"].unique():
    
#     tmp = df_pca.loc[df_pca["cluster"] == i, :]
#     plt.scatter(tmp[0], tmp[1])
# plt.show()

* X_done_with_pca :
[[ 28.71476434   1.21121144]
 [ 28.68326807   1.23629299]
 [ 28.72705279   0.47215965]
 ...
 [-18.78929892   3.89918395]
 [-19.20711106   9.6901429 ]
 [-19.16755436   7.75264724]]
* df_pca :

              0         1  cluster
0     28.714764  1.211211        2
1     28.683268  1.236293        2
2     28.727053  0.472160        2
3     28.755913  0.439654        2
4     28.878004 -1.201591        2
...         ...       ...      ...
4187 -18.789299  3.899184        0
4188 -19.067840  7.759823        0
4189 -18.789299  3.899184        0
4190 -19.207111  9.690143        0
4191 -19.167554  7.752647        0

[4192 rows x 3 columns]

In [7]:
'''
클러스터링으로 분할된 4개의 그룹에 지속 회원과 탈퇴 회원이 각각 얼마나 존재하는지 확인하기
'''
# 'customer_variables_for_clustering'데이터 셋과 'customer'데이터 셋을 JOIN 실시
# (두 데이터 셋이 서로 공유하는 컬럼이 없기 떼문에, concat()으로 두 데이터 셋을 결합해야 함)
display(customer_variables_for_clustering.head())
display(customer.head())
customer_variables_for_clustering = pd.concat([customer_variables_for_clustering, customer], axis = 1)
display(customer_variables_for_clustering.groupby(["cluster", "is_deleted"], as_index = False).count().loc[:, ["cluster", "customer_id"]])

   월 방문횟수 평균값  월 방문횟수 중앙값  월 방문횟수 최댓값  월 방문횟수 최솟값  회원기간  cluster
0    4.833333         5.0           8           2    47        1
1    5.083333         5.0           7           3    47        1
2    4.583333         5.0           6           3    47        1
3    4.833333         4.5           7           2    47        1
4    3.916667         4.0           6           1    47        1

,customer_id,gender,start_date,end_date,is_deleted,class,class_name,campaign_id,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period
0,OA832399,F,2015-05-01,NaN,0,C01,0_종일,CA1,2_일반,4.833333,5.0,8,2,1,2019-04-30,47
1,PL270116,M,2015-05-01,NaN,0,C01,0_종일,CA1,2_일반,5.083333,5.0,7,3,1,2019-04-30,47
2,OA974876,M,2015-05-01,NaN,0,C01,0_종일,CA1,2_일반,4.583333,5.0,6,3,1,2019-04-30,47
3,HD024127,F,2015-05-01,NaN,0,C01,0_종일,CA1,2_일반,4.833333,4.5,7,2,1,2019-04-30,47
4,HD661448,F,2015-05-01,NaN,0,C03,2_야간,CA1,2_일반,3.916667,4.0,6,1,1,2019-04-30,47

   cluster  customer_id
0        0          822
1        0           19
2        1         1230
3        1           18
4        2          771
5        3          790
6        3          542

In [8]:
'''

다음 달의 이용 횟수 예측을 위해, 데이터 준비

'''

# uselog 데이터 셋의 'usedate'컬럼 자료형 변경
uselog["usedate"] = pd.to_datetime(uselog["usedate"])
uselog["연월"] = uselog["usedate"].dt.strftime("%Y%m")
uselog_months = uselog.groupby(["연월", "customer_id"], as_index=False).count()
uselog_months.rename(columns = {"log_id" : "count"}, inplace=True)
del uselog_months["usedate"]
uselog_months.head()

       연월 customer_id  count
0  201804    AS002855      4
1  201804    AS009013      2
2  201804    AS009373      3
3  201804    AS015315      6
4  201804    AS015739      7

In [9]:
# 이번 달부터 과거 5개월분의 이용 횟수와 다음 달의 이용 횟수를 저장함
# '이번 달'에 대한 대상은 2018년 10월부터 2019년 3월까지임

year_months = list(uselog_months["연월"].unique())
print("year_months :")
print(year_months, "\n")

predict_data = pd.DataFrame()

for i in range(6, len(year_months)):
    
    tmp = uselog_months.loc[uselog_months["연월"] == year_months[i], :]
    tmp.rename(columns = {"count" : "count_pred"}, inplace = True)
#     display(tmp)
    for j in range(1,7):
        
        tmp_before = uselog_months.loc[uselog_months["연월"] == year_months[i - j]]
        del tmp_before["연월"]
#         display(tmp_before)
        tmp_before.rename(columns = {"count" : "count_{}".format(j-1)}, inplace = True)
        tmp = pd.merge(tmp, tmp_before, on = "customer_id", how = "left")
    predict_data = pd.concat([predict_data, tmp], ignore_index=True)

predict_data = predict_data.sort_values(by = ["customer_id"])
display(predict_data)

year_months :
['201804', '201805', '201806', '201807', '201808', '201809', '201810', '201811', '201812', '201901', '201902', '201903']

,연월,customer_id,count_pred,count_0,count_1,count_2,count_3,count_4,count_5
0,201810,AS002855,3,7.0,3.0,5.0,5.0,5.0,4.0
6115,201812,AS002855,2,5.0,3.0,7.0,3.0,5.0,5.0
9228,201901,AS002855,6,2.0,5.0,3.0,7.0,3.0,5.0
12320,201902,AS002855,5,6.0,2.0,5.0,3.0,7.0,3.0
15357,201903,AS002855,4,5.0,6.0,2.0,5.0,3.0,7.0
3070,201811,AS002855,5,3.0,7.0,3.0,5.0,5.0,5.0
1,201810,AS008805,2,2.0,5.0,7.0,8.0,NaN,NaN
9229,201901,AS008805,1,5.0,3.0,2.0,2.0,5.0,7.0
3071,201811,AS008805,3,2.0,2.0,5.0,7.0,8.0,NaN
12321,201902,AS008805,6,1.0,5.0,3.0,2.0,2.0,5.0
6116,201812,AS008805,5,3.0,2.0,2.0,5.0,7.0,8.0
15358,201903,AS008805,1,6.0,1.0,5.0,3.0,2.0,2.0
6117,201812,AS009373,4,4.0,5.0,6.0,6.0,7.0,4.0
2,201810,AS009373,5,6.0,6.0,7.0,4.0,4.0,3.0
9230,201901,AS009373,7,4.0,4.0,5.0,6.0,6.0,7.0
12322,201902,AS009373,6,7.0,4.0,4.0,5.0,6.0,6.0
3072,201811,AS009373,4,5.0,6.0,6.0,7.0,4.0,4.0
15359,201903,AS009373,5,6.0,7.0,4.0,4.0,5.0,6.0
6118,201812,AS015233,9,7.0,7.0,9.0,11.0,5.0,7.0
12323,201902,AS015233,4,9.0,9.0,7.0,7.0,9.0,11.0
15360,201903,AS015233,8,4.0,9.0,9.0,7.0,7.0,9.0
3,201810,AS015233,7,9.0,11.0,5.0,7.0,7.0,NaN
3073,201811,AS015233,7,7.0,9.0,11.0,5.0,7.0,7.0
9231,201901,AS015233,9,9.0,7.0,7.0,9.0,11.0,5.0
4,201810,AS015315,4,7.0,3.0,6.0,3.0,3.0,6.0
6119,201812,AS015315,5,7.0,4.0,7.0,3.0,6.0,3.0
3074,201811,AS015315,7,4.0,7.0,3.0,6.0,3.0,3.0
9232,201901,AS015315,5,5.0,7.0,4.0,7.0,3.0,6.0
15361,201903,AS015315,4,5.0,5.0,5.0,7.0,4.0,7.0
12324,201902,AS015315,5,5.0,5.0,7.0,4.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...
9223,201812,TS995299,4,5.0,4.0,5.0,7.0,5.0,2.0
15351,201902,TS995299,3,5.0,4.0,5.0,4.0,5.0,7.0
18304,201903,TS995299,3,3.0,5.0,4.0,5.0,4.0,5.0
12315,201901,TS995299,5,4.0,5.0,4.0,5.0,7.0,5.0
15352,201902,TS995853,11,NaN,NaN,NaN,NaN,NaN,NaN
18305,201903,TS995853,8,11.0,NaN,NaN,NaN,NaN,NaN
18306,201903,TS998593,8,7.0,8.0,7.0,9.0,9.0,9.0
3066,201810,TS998593,9,9.0,NaN,NaN,NaN,NaN,NaN
15353,201902,TS998593,7,8.0,7.0,9.0,9.0,9.0,NaN
6111,201811,TS998593,9,9.0,9.0,NaN,NaN,NaN,NaN
12316,201901,TS998593,8,7.0,9.0,9.0,9.0,NaN,NaN
9224,201812,TS998593,7,9.0,9.0,9.0,NaN,NaN,NaN
12317,201901,TS999079,6,9.0,6.0,6.0,4.0,3.0,2.0
18307,201903,TS999079,3,2.0,6.0,9.0,6.0,6.0,4.0
3067,201810,TS999079,6,4.0,3.0,2.0,6.0,5.0,7.0
15354,201902,TS999079,2,6.0,9.0,6.0,6.0,4.0,3.0
6112,201811,TS999079,6,6.0,4.0,3.0,2.0,6.0,5.0
9225,201812,TS999079,9,6.0,6.0,4.0,3.0,2.0,6.0
15355,201902,TS999231,6,3.0,8.0,5.0,5.0,4.0,3.0
6113,201811,TS999231,5,5.0,4.0,3.0,5.0,1.0,4.0
18308,201903,TS999231,6,6.0,3.0,8.0,5.0,5.0,4.0
9226,201812,TS999231,8,5.0,5.0,4.0,3.0,5.0,1.0
12318,201901,TS999231,3,8.0,5.0,5.0,4.0,3.0,5.0
3068,201810,TS999231,5,4.0,3.0,5.0,1.0,4.0,6.0
3069,201810,TS999855,4,5.0,3.0,4.0,6.0,3.0,6.0
6114,201811,TS999855,4,4.0,5.0,3.0,4.0,6.0,3.0
15356,201902,TS999855,4,7.0,5.0,4.0,4.0,5.0,3.0
9227,201812,TS999855,5,4.0,4.0,5.0,3.0,4.0,6.0
12319,201901,TS999855,7,5.0,4.0,4.0,5.0,3.0,4.0
18309,201903,TS999855,4,4.0,7.0,5.0,4.0,4.0,5.0

In [10]:
# 위 결과에서 결측치 제거
predict_data = predict_data.dropna()
predict_data = predict_data.reset_index(drop = True)
predict_data.head()

,연월,customer_id,count_pred,count_0,count_1,count_2,count_3,count_4,count_5
0,201810,AS002855,3,7.0,3.0,5.0,5.0,5.0,4.0
1,201812,AS002855,2,5.0,3.0,7.0,3.0,5.0,5.0
2,201901,AS002855,6,2.0,5.0,3.0,7.0,3.0,5.0
3,201902,AS002855,5,6.0,2.0,5.0,3.0,7.0,3.0
4,201903,AS002855,4,5.0,6.0,2.0,5.0,3.0,7.0

In [11]:
# 위 결과에 회원 기간 컬럼 추가
predict_data = pd.merge(predict_data, customer[["customer_id", "start_date"]], on = "customer_id", how = "left")
print("'predict_data'에 'customer'데이터 셋의 'start_date'컬럼 추가 :")
display(predict_data.head())

from dateutil.relativedelta import relativedelta
predict_data["now_date"] = pd.to_datetime(predict_data['연월'], format = "%Y%m")
predict_data["start_date"] = pd.to_datetime(predict_data["start_date"])
predict_data["period"] = None
for i in range(len(predict_data)):
    
    delta = relativedelta(predict_data["now_date"].loc[i], predict_data["start_date"].loc[i])
    predict_data["period"].loc[i] = delta.years*12 + delta.months
print("\n", "'period'컬럼 추가")
display(predict_data.head())

'predict_data'에 'customer'데이터 셋의 'start_date'컬럼 추가 :

,연월,customer_id,count_pred,count_0,count_1,count_2,count_3,count_4,count_5,start_date
0,201810,AS002855,3,7.0,3.0,5.0,5.0,5.0,4.0,2016-11-01
1,201812,AS002855,2,5.0,3.0,7.0,3.0,5.0,5.0,2016-11-01
2,201901,AS002855,6,2.0,5.0,3.0,7.0,3.0,5.0,2016-11-01
3,201902,AS002855,5,6.0,2.0,5.0,3.0,7.0,3.0,2016-11-01
4,201903,AS002855,4,5.0,6.0,2.0,5.0,3.0,7.0,2016-11-01

 'period'컬럼 추가

,연월,customer_id,count_pred,count_0,count_1,count_2,count_3,count_4,count_5,start_date,now_date,period
0,201810,AS002855,3,7.0,3.0,5.0,5.0,5.0,4.0,2016-11-01,2018-10-01,23
1,201812,AS002855,2,5.0,3.0,7.0,3.0,5.0,5.0,2016-11-01,2018-12-01,25
2,201901,AS002855,6,2.0,5.0,3.0,7.0,3.0,5.0,2016-11-01,2019-01-01,26
3,201902,AS002855,5,6.0,2.0,5.0,3.0,7.0,3.0,2016-11-01,2019-02-01,27
4,201903,AS002855,4,5.0,6.0,2.0,5.0,3.0,7.0,2016-11-01,2019-03-01,28

In [18]:
'''

LinearRegression 모델 제작

'''

from sklearn import linear_model
import sklearn.model_selection

# 2018년 4월 이후에 새로 가입한 회원만 추출
predict_data = predict_data.loc[predict_data["start_date"] >= pd.to_datetime("20180401")]

# model 제작
model = linear_model.LinearRegression()

X = predict_data[["count_0", "count_1", "count_2", "count_3", "count_4", "count_5", "period"]]
y = predict_data["count_pred"]

# 데이터 셋을 train셋과 test셋으로 분할
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y)

model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [19]:
print("train셋에 대한 평가점수 :", model.score(X_train, y_train))
print("test셋에 대한 평가점수 :", model.score(X_test, y_test))

train셋에 대한 평가점수 : 0.617375834748802
test셋에 대한 평가점수 : 0.5772672959648999

In [22]:
# 각 독립변수의 계수 출력
coef = pd.DataFrame({"feature_names" : X.columns, "coefficient" : model.coef_})
coef

  feature_names  coefficient
0       count_0     0.352090
1       count_1     0.195822
2       count_2     0.164707
3       count_3     0.146963
4       count_4     0.099060
5       count_5     0.086785
6        period     0.073595

In [23]:
# 새로운 회원 두 명에 대한 다음 달의 이용 횟수 예측
x1 = [3,4,4,6,8,7,8]
x2 = [2,2,3,3,4,6,8]
x_pred = [x1, x2]

model.predict(x_pred)

array([3.75455386, 1.92220021])

In [24]:
uselog_months.to_csv("use_log_months.csv", index = False)