In [20]:
import pandas as pd
import numpy as np
from itertools import product
from pulp import LpVariable, lpSum, value
from ortoolpy import model_min, addvars, addvals

# 운송 비용 데이터 불러오기

df_of_trans_cost  = pd.read_csv("./pyda100-master/Chapter_7/trans_cost.csv", index_col = '공장')
print("* df_of_trans_cost :")
display(df_of_trans_cost)

# 수요측 데이터 불러오기

df_of_demand_of_factory = pd.read_csv("./pyda100-master/Chapter_7/demand.csv")
print("* df_of_demand_of_factory :")
display(df_of_demand_of_factory)

# 공급측 데이터 불러오기

df_of_supply_of_warehouse = pd.read_csv("./pyda100-master/Chapter_7/supply.csv")
print("* df_of_supply_of_warehouse :")
display(df_of_supply_of_warehouse)

# 초기 설정

np.random.seed(1)
count_of_warehouse = len(df_of_trans_cost.index)
count_of_factory   = len(df_of_trans_cost.columns)
result_of_product  = list(product(range(count_of_warehouse), range(count_of_factory)))
print("* result_of_product :", result_of_product, "\n")

# 수리 모델 작성

model = model_min()
variables = {(i, j) : LpVariable("v{}_{}".format(i, j), lowBound = 0) for i, j in result_of_product}
print("* variables :", variables, "\n")

* df_of_trans_cost :

    F1  F2  F3  F4
공장
W1  10  10  11  27
W2  18  21  12  14
W3  15  12  14  12

* df_of_demand_of_factory :

   F1  F2  F3  F4
0  28  29  31  25

* df_of_supply_of_warehouse :

   W1  W2  W3
0  35  41  42

* result_of_product : [(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

* variables : {(0, 0): v0_0, (0, 1): v0_1, (0, 2): v0_2, (0, 3): v0_3, (1, 0): v1_0, (1, 1): v1_1, (1, 2): v1_2, (1, 3): v1_3, (2, 0): v2_0, (2, 1): v2_1, (2, 2): v2_2, (2, 3): v2_3}