In [29]:
uriage_purchase_dataset = pd.read_csv("./pyda100-master/Chapter_2/uriage.csv")
uriage_purchase_dataset

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05     상 품 S         NaN           김우찬
2     2019-05-11 19:42     상 품 a         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품a         NaN           김강현
5     2019-03-20 19:16       상품S      1900.0           김우진
6     2019-05-18 19:16      상품 a         NaN           김재준
7      2019-04-18 0:14       상품V      2200.0           김민혁
8     2019-01-10 15:51       상품O      1500.0           김선우
9     2019-01-28 10:47       상품A       100.0           김태윤
10     2019-06-21 1:54      상 품U      2100.0           김시완
11    2019-06-08 11:32       상품L      1200.0           김도윤
12     2019-04-08 2:00     상  품V      2200.0           김주한
13     2019-06-19 9:50      상 품O      1500.0           김도원
14    2019-06-11 12:57       상품A         NaN           김재호
15     2019-04-21 0:11       상품C       300.0           김지율
16    2019-03-28 23:24       상품V      2200.0           김재훈
17    2019-04-06 12:00       상품I       900.0           김상현
18     2019-07-16 5:55       상품r      1800.0           김준성
19     2019-07-03 7:04       상품X      2400.0           김성민
20    2019-07-05 10:49       상품O      1500.0           김서후
21    2019-06-10 19:07      상품 g       700.0           김승유
22    2019-07-10 20:28       상품X      2400.0           김동욱
23    2019-07-10 12:44       상품R      1800.0           김대현
24     2019-02-14 1:30       상품P      1600.0           김동건
25     2019-04-18 1:50       상품Q      1700.0           김우찬
26     2019-05-16 4:45       상품y      2500.0           김태현
27    2019-05-26 10:58       상품P      1600.0           김다온
28    2019-01-04 12:05       상품P         NaN           김우진
29    2019-02-11 18:32       상품R      1800.0           김하윤
...                ...       ...         ...           ...
2969   2019-02-01 3:48       상품O      1500.0           김은혁
2970  2019-03-15 11:17       상품L      1200.0           김시훈
2971   2019-02-02 4:52       상품S      1900.0           김태우
2972  2019-04-30 19:47       상품R      1800.0           김준수
2973  2019-07-13 21:38       상품A       100.0           김태윤
2974  2019-02-04 17:08       상품P      1600.0           김예준
2975  2019-07-21 10:36       상품Y      2500.0           김지오
2976   2019-07-11 0:11       상품L      1200.0           김윤찬
2977  2019-03-02 20:55       상품X         NaN           김우준
2978  2019-04-06 21:20       상품N      1400.0           김우찬
2979  2019-03-09 17:26       상품N      1400.0           김승빈
2980   2019-07-01 2:15       상품P      1600.0           김지오
2981  2019-04-26 22:17       상품R      1800.0           김현승
2982  2019-02-18 16:53       상품L      1200.0           김민서
2983   2019-05-09 0:44       상품H       800.0           김민준
2984   2019-03-06 6:16       상품G       700.0           김승호
2985  2019-03-06 22:30       상품X      2400.0           김현진
2986  2019-03-12 19:34       상품C       300.0           김정후
2987  2019-01-04 13:05       상품K         NaN           김정훈
2988   2019-01-23 7:08       상품R      1800.0           김시완
2989   2019-05-19 3:20       상품M      1300.0           김태훈
2990  2019-07-16 11:34       상품O         NaN           김서준
2991  2019-02-18 14:36       상품W      2300.0           김우빈
2992  2019-07-27 10:13       상품C         NaN           김동하
2993   2019-01-25 3:57       상품C       300.0           김이안
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [30]:
kokyaku_customer_dataset = pd.read_excel("./pyda100-master/Chapter_2/kokyaku_daicho.xlsx")
kokyaku_customer_dataset

     고객이름  지역                  등록일
0    김 현성  H시  2018-01-04 00:00:00
1    김 도윤  E시                42782
2    김 지한  A시  2018-01-07 00:00:00
3    김 하윤  F시                42872
4    김 시온  E시                43127
5    김 예성  A시  2017-06-20 00:00:00
6    김 하람  H시  2018-06-11 00:00:00
7    김 호준  B시  2017-05-19 00:00:00
8    김 지완  G시  2018-02-12 00:00:00
9    김 주호  G시  2017-07-05 00:00:00
10   김 재원  E시  2018-03-31 00:00:00
11   김 승민  A시  2017-04-22 00:00:00
12   김 준형  C시  2018-03-09 00:00:00
13   김 동건  D시  2017-03-13 00:00:00
14   김 준서  E시  2018-01-24 00:00:00
15   김 수혁  G시  2017-06-09 00:00:00
16   김 진우  D시  2018-05-02 00:00:00
17   김 윤호  G시  2017-02-05 00:00:00
18   김 윤서  H시  2018-07-10 00:00:00
19   김 준희  H시  2017-07-08 00:00:00
20   김 윤우  A시  2018-03-12 00:00:00
21   김 동우  A시                42920
22   김 성빈  H시  2018-02-28 00:00:00
23   김 태준  E시  2017-05-16 00:00:00
24   김 태경  D시  2018-01-29 00:00:00
25   김 승후  C시  2017-03-17 00:00:00
26   김 현우  C시  2018-06-28 00:00:00
27   김 서준  C시                42901
28   김 주원  C시  2018-05-21 00:00:00
29   김 태인  F시  2017-03-12 00:00:00
..    ...  ..                  ...
170  김 시환  F시  2018-05-27 00:00:00
171  김 수현  E시  2017-02-22 00:00:00
172  김 서율  G시                43181
173  정 준기  B시  2017-02-05 00:00:00
174  김 성훈  B시  2018-01-09 00:00:00
175  김 시호  H시  2017-06-12 00:00:00
176  김 재호  C시  2018-02-14 00:00:00
177  김 재우  D시  2017-04-14 00:00:00
178  김 동하  F시  2018-03-15 00:00:00
179  김 우현  C시                42743
180  김 민기  G시  2018-07-19 00:00:00
181  김 승환  B시  2017-05-23 00:00:00
182  김 다온  A시  2018-05-01 00:00:00
183  김 승우  B시                42940
184  김 성준  H시  2018-05-24 00:00:00
185  김 승호  F시  2017-04-08 00:00:00
186  김 승주  E시                43294
187  김 태윤  E시  2017-05-09 00:00:00
188  김 민수  D시  2018-07-22 00:00:00
189  김 현민  D시  2017-07-30 00:00:00
190  김 유진  B시  2018-06-14 00:00:00
191  김 지안  B시  2017-01-28 00:00:00
192  김 현석  H시                43259
193  김 선우  H시  2017-05-05 00:00:00
194  김 지원  H시  2018-02-27 00:00:00
195  김 재희  G시  2017-06-20 00:00:00
196  김 도영  E시  2018-06-20 00:00:00
197  김 이안  F시  2017-04-29 00:00:00
198  김 시현  H시  2019-04-19 00:00:00
199  김 서우  D시  2019-04-23 00:00:00

[200 rows x 3 columns]

In [31]:
# uriage dataset의 오류 파악1
uriage_purchase_dataset["item_name"].head()

0      상품A
1    상 품 S
2    상 품 a
3      상품Z
4      상품a
Name: item_name, dtype: object

In [32]:
# uriage dataset의 오류 파악2
uriage_purchase_dataset["item_price"].head()

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

In [34]:
# 데이터에 오류가 있는 상태로 집계를 실시(상품의 개수는 26개인데, 해당 pivot table의 column의 개수가 99개로 늘어나 있는 것을 확인할 수 있음)

uriage_purchase_dataset["purchase_date"] = pd.to_datetime(uriage_purchase_dataset["purchase_date"])
uriage_purchase_dataset["purchase_month"] = uriage_purchase_dataset["purchase_date"].dt.strftime("%Y%m")
uriage_purchase_dataset
pivot_table = uriage_purchase_dataset.pivot_table(index="purchase_month", columns="item_name", values="item_price", aggfunc="sum")
pivot_table

item_name,상 품 n,상품 E,상품 M,상품 P,상품 S,상품 W,상품 X,상품W,상 품O,상 품Q,...,상품k,상품l,상품o,상품p,상품r,상품s,상품t,상품v,상품x,상품y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1100.0,1200.0,1500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201902,NaN,NaN,NaN,NaN,NaN,NaN,2400.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900.0,2000.0,2200.0,NaN,NaN
201903,NaN,500.0,1300.0,1600.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2300.0,NaN,1700.0,...,NaN,NaN,NaN,NaN,NaN,1900.0,NaN,NaN,NaN,NaN
201905,NaN,NaN,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,NaN,...,NaN,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2500.0
201906,NaN,NaN,NaN,NaN,NaN,2300.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1600.0,NaN,NaN,NaN,NaN,2400.0,NaN
201907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,1500.0,NaN,1800.0,NaN,NaN,NaN,NaN,NaN

In [35]:
# 상품명의 유니크 수 확인
print("unique한 상품명의 개수 :",len(list(pd.unique(uriage_purchase_dataset["item_name"]))), "\n")
print(list(pd.unique(uriage_purchase_dataset["item_name"])))

unique한 상품명의 개수 : 99

['상품A', '상 품 S', '상 품 a', '상품Z', '상품a', '상품S', '상품 a', '상품V', '상품O', '상 품U', '상품L', '상  품V', '상 품O', '상품C', '상품I', '상품r', '상품X', '상품 g', '상품R', '상품P', '상품Q', '상품y', '상품 A', '상품N', '상품W', '상 품E', '상품K', '상품B', '상품F', '상 품s', ' 상품W', ' 상 품 n', '상 품F', '상품D', '상품M', '상품Y', '상품U', '상품H', '상품T', '상품J', '상  품O', '상품E', '상  품Q', ' 상품 S', ' 상품 M', '상  품T', '상품G', '상 품G', ' 상품 P', ' 상품 E', '상 품N', '상 품Y', '상품 J', '상품 V', '상품 K', '상 품V', '상 품D', '상 품A', '상품 F', '상품 H', '상 품K', '상 품T', '상품 X', '상품 Q', '상 품X', '상 품H', '상 품C', '상품 B', '상품 O', '상품 T', '상품v', '상품p', '상품i', '상품 w', '상 품 s', '상 품 q', '상품s', '상품l', '상품t', '상품k', '상품g', '상품o', '상품 R', '상품 S', '상 품M', '상품j', '상품d', '상품 I', '상품 E', '상품 o', '상품c', '상품 v', '상품e', '상품x', '상 품I', ' 상품 W', ' 상품 X', '상품 M', '상 품P']

In [36]:
# 상품명의 오류 수정(상품명 내 알파벳을 전부 대문자로 전환, 상품명에 포함된 띄어쓰기를 삭제)
uriage_purchase_dataset["item_name"] = uriage_purchase_dataset["item_name"].str.upper()
uriage_purchase_dataset["item_name"] = uriage_purchase_dataset["item_name"].str.replace(" ", "")
uriage_purchase_dataset["item_name"]

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
5       상품S
6       상품A
7       상품V
8       상품O
9       상품A
10      상품U
11      상품L
12      상품V
13      상품O
14      상품A
15      상품C
16      상품V
17      상품I
18      상품R
19      상품X
20      상품O
21      상품G
22      상품X
23      상품R
24      상품P
25      상품Q
26      상품Y
27      상품P
28      상품P
29      상품R
       ...
2969    상품O
2970    상품L
2971    상품S
2972    상품R
2973    상품A
2974    상품P
2975    상품Y
2976    상품L
2977    상품X
2978    상품N
2979    상품N
2980    상품P
2981    상품R
2982    상품L
2983    상품H
2984    상품G
2985    상품X
2986    상품C
2987    상품K
2988    상품R
2989    상품M
2990    상품O
2991    상품W
2992    상품C
2993    상품C
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [37]:
uriage_purchase_dataset.sort_values(by=["item_name"])

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:00       상품A       100.0           김가온         201906
1748 2019-05-19 20:22:00       상품A       100.0           김시훈         201905
223  2019-06-25 08:13:00       상품A       100.0           김유진         201906
1742 2019-06-13 16:03:00       상품A       100.0           김건희         201906
1738 2019-02-10 00:28:00       상품A       100.0           김하랑         201902
1721 2019-02-24 19:18:00       상품A       100.0           김은우         201902
1708 2019-03-27 17:10:00       상품A       100.0           김준희         201903
1707 2019-03-25 21:42:00       상품A       100.0           김주한         201903
234  2019-03-23 09:32:00       상품A       100.0           김찬우         201903
1684 2019-02-17 20:25:00       상품A       100.0           김경민         201902
497  2019-02-11 03:54:00       상품A       100.0           김우진         201902
1761 2019-05-04 14:44:00       상품A       100.0           김준후         201905
1658 2019-03-23 20:08:00       상품A       100.0           김은율         201903
1544 2019-01-21 11:49:00       상품A       100.0           김준호         201901
1513 2019-04-04 18:58:00       상품A       100.0           김승후         201904
1500 2019-02-28 17:25:00       상품A       100.0           김라온         201902
1498 2019-01-19 12:15:00       상품A       100.0           김승현         201901
1481 2019-03-10 03:52:00       상품A       100.0           김지완         201903
1474 2019-04-11 02:22:00       상품A         NaN           김선우         201904
274  2019-07-27 01:45:00       상품A       100.0           김지운         201907
1454 2019-01-16 07:35:00       상품A       100.0           김강현         201901
1398 2019-06-13 02:20:00       상품A       100.0           김준서         201906
1394 2019-07-07 21:49:00       상품A         NaN           김은우         201907
1576 2019-05-06 02:40:00       상품A       100.0           김은우         201905
211  2019-02-12 02:52:00       상품A       100.0           김서후         201902
210  2019-07-08 04:17:00       상품A       100.0           김강현         201907
1835 2019-06-20 12:57:00       상품A       100.0           김지후         201906
2384 2019-04-27 02:50:00       상품A       100.0           김현서         201904
117  2019-06-14 09:08:00       상품A       100.0           김가온         201906
2352 2019-07-28 07:55:00       상품A       100.0           김승윤         201907
...                  ...       ...         ...           ...            ...
214  2019-06-02 01:01:00       상품Y      2500.0           김재윤         201906
707  2019-02-08 19:17:00       상품Y      2500.0           김대현         201902
2123 2019-06-19 14:40:00       상품Y         NaN           김현진         201906
2909 2019-04-27 21:33:00       상품Y      2500.0           김상민         201904
2910 2019-05-16 07:16:00       상품Y      2500.0           김하랑         201905
702  2019-06-20 19:09:00       상품Y      2500.0           김도현         201906
198  2019-04-13 13:05:00       상품Y      2500.0           김준수         201904
689  2019-05-24 17:03:00       상품Y      2500.0           김지오         201905
1571 2019-05-10 17:54:00       상품Y         NaN           김태민         201905
833  2019-07-29 11:07:00       상품Y      2500.0           김재윤         201907
743  2019-06-09 04:18:00       상품Y      2500.0           김규민         201906
26   2019-05-16 04:45:00       상품Y      2500.0           김태현         201905
2857 2019-06-13 22:19:00       상품Y      2500.0           김승재         201906
2446 2019-03-30 18:50:00       상품Y         NaN           김하율         201903
2679 2019-05-04 13:03:00       상품Y      2500.0           김승준         201905
1882 2019-07-31 16:58:00       상품Y         NaN           김범준         201907
805  2019-07-29 07:17:00       상품Y      2500.0           김민찬         201907
2452 2019-05-01 17:42:00       상품Y      2500.0           김재훈         201905
2889 2019-06-14 10:11:00       상품Y      2500.0           김도영         201906
1732 2019-02-20 05:22:00       상품Y         NaN           김은혁         201902
2090 2019-06-13 07:18:00       상품Y      2500.0           김민규         201906
2100 2019-02-27 01:24:00       상품Y      2500.0           김준성         201902
1878 2019-01-29 13:58:00       상품Y      2500.0           김하진         201901
2527 2019-05-17 18:15:00       상품Y      2500.0           김민기         201905
2526 2019-05-26 10:26:00       상품Y      2500.0           김재민         201905
2880 2019-04-22 00:36:00       상품Y         NaN           김동욱         201904
2881 2019-04-30 14:21:00       상품Y         NaN           김하준         201904
1525 2019-01-24 10:27:00       상품Y      2500.0           김범준         201901
1361 2019-05-28 13:45:00       상품Y      2500.0           김수현         201905
3    2019-02-12 23:40:00       상품Z      2600.0           김재현         201902

[2999 rows x 5 columns]

In [38]:
# 상품명 컬럼의 오류가 잘 수정되었는지 최종 확인
len(pd.unique(uriage_purchase_dataset["item_name"]))

26

In [39]:
# item_price 컬럼에 null값이 있음을 확인
uriage_purchase_dataset.isnull().any()

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

In [62]:
flg_for_is_null = uriage_purchase_dataset["item_price"].isnull()
for item in list(uriage_purchase_dataset.loc[flg_for_is_null, "item_name"].unique()):
    
    price = uriage_purchase_dataset.loc[(~flg_for_is_null) & (uriage_purchase_dataset["item_name"] == item), "item_price"].max()
    uriage_purchase_dataset.loc[(flg_for_is_null) & (uriage_purchase_dataset["item_name"] == item), "item_price"] = price

uriage_purchase_dataset

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:00       상품A       100.0           김가온         201906
1    2019-07-13 13:05:00       상품S      1900.0           김우찬         201907
2    2019-05-11 19:42:00       상품A       100.0           김유찬         201905
3    2019-02-12 23:40:00       상품Z      2600.0           김재현         201902
4    2019-04-22 03:09:00       상품A       100.0           김강현         201904
5    2019-03-20 19:16:00       상품S      1900.0           김우진         201903
6    2019-05-18 19:16:00       상품A       100.0           김재준         201905
7    2019-04-18 00:14:00       상품V      2200.0           김민혁         201904
8    2019-01-10 15:51:00       상품O      1500.0           김선우         201901
9    2019-01-28 10:47:00       상품A       100.0           김태윤         201901
10   2019-06-21 01:54:00       상품U      2100.0           김시완         201906
11   2019-06-08 11:32:00       상품L      1200.0           김도윤         201906
12   2019-04-08 02:00:00       상품V      2200.0           김주한         201904
13   2019-06-19 09:50:00       상품O      1500.0           김도원         201906
14   2019-06-11 12:57:00       상품A       100.0           김재호         201906
15   2019-04-21 00:11:00       상품C       300.0           김지율         201904
16   2019-03-28 23:24:00       상품V      2200.0           김재훈         201903
17   2019-04-06 12:00:00       상품I       900.0           김상현         201904
18   2019-07-16 05:55:00       상품R      1800.0           김준성         201907
19   2019-07-03 07:04:00       상품X      2400.0           김성민         201907
20   2019-07-05 10:49:00       상품O      1500.0           김서후         201907
21   2019-06-10 19:07:00       상품G       700.0           김승유         201906
22   2019-07-10 20:28:00       상품X      2400.0           김동욱         201907
23   2019-07-10 12:44:00       상품R      1800.0           김대현         201907
24   2019-02-14 01:30:00       상품P      1600.0           김동건         201902
25   2019-04-18 01:50:00       상품Q      1700.0           김우찬         201904
26   2019-05-16 04:45:00       상품Y      2500.0           김태현         201905
27   2019-05-26 10:58:00       상품P      1600.0           김다온         201905
28   2019-01-04 12:05:00       상품P      1600.0           김우진         201901
29   2019-02-11 18:32:00       상품R      1800.0           김하윤         201902
...                  ...       ...         ...           ...            ...
2969 2019-02-01 03:48:00       상품O      1500.0           김은혁         201902
2970 2019-03-15 11:17:00       상품L      1200.0           김시훈         201903
2971 2019-02-02 04:52:00       상품S      1900.0           김태우         201902
2972 2019-04-30 19:47:00       상품R      1800.0           김준수         201904
2973 2019-07-13 21:38:00       상품A       100.0           김태윤         201907
2974 2019-02-04 17:08:00       상품P      1600.0           김예준         201902
2975 2019-07-21 10:36:00       상품Y      2500.0           김지오         201907
2976 2019-07-11 00:11:00       상품L      1200.0           김윤찬         201907
2977 2019-03-02 20:55:00       상품X      2400.0           김우준         201903
2978 2019-04-06 21:20:00       상품N      1400.0           김우찬         201904
2979 2019-03-09 17:26:00       상품N      1400.0           김승빈         201903
2980 2019-07-01 02:15:00       상품P      1600.0           김지오         201907
2981 2019-04-26 22:17:00       상품R      1800.0           김현승         201904
2982 2019-02-18 16:53:00       상품L      1200.0           김민서         201902
2983 2019-05-09 00:44:00       상품H       800.0           김민준         201905
2984 2019-03-06 06:16:00       상품G       700.0           김승호         201903
2985 2019-03-06 22:30:00       상품X      2400.0           김현진         201903
2986 2019-03-12 19:34:00       상품C       300.0           김정후         201903
2987 2019-01-04 13:05:00       상품K      1100.0           김정훈         201901
2988 2019-01-23 07:08:00       상품R      1800.0           김시완         201901
2989 2019-05-19 03:20:00       상품M      1300.0           김태훈         201905
2990 2019-07-16 11:34:00       상품O      1500.0           김서준         201907
2991 2019-02-18 14:36:00       상품W      2300.0           김우빈         201902
2992 2019-07-27 10:13:00       상품C       300.0           김동하         201907
2993 2019-01-25 03:57:00       상품C       300.0           김이안         201901
2994 2019-02-15 02:56:00       상품Y      2500.0           김정민         201902
2995 2019-06-22 04:03:00       상품M      1300.0           김재원         201906
2996 2019-03-29 11:14:00       상품Q      1700.0           김지율         201903
2997 2019-07-14 12:56:00       상품H       800.0           김승주         201907
2998 2019-07-21 00:31:00       상품D       400.0           정준기         201907

[2999 rows x 5 columns]

In [60]:
# boolean을 요소로 가진 Series 변수 앞에 '~'을 붙이면, True가 False로 False가 True로 바뀐 Series가 반환된다.
~flg_for_is_null

0        True
1       False
2       False
3        True
4       False
5        True
6       False
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14      False
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28      False
29       True
        ...
2969     True
2970     True
2971     True
2972     True
2973     True
2974     True
2975     True
2976     True
2977    False
2978     True
2979     True
2980     True
2981     True
2982     True
2983     True
2984     True
2985     True
2986     True
2987    False
2988     True
2989     True
2990    False
2991     True
2992    False
2993     True
2994     True
2995     True
2996    False
2997    False
2998     True
Name: item_price, Length: 2999, dtype: bool

In [64]:
# item_price 결측치 수정이 제대로 되었는지 최종 확인1
uriage_purchase_dataset.isnull().any()

purchase_date     False
item_name         False
item_price        False
customer_name     False
purchase_month    False
dtype: bool

In [86]:
# item_price 결측치 수정이 제대로 되었는지 최종 확인2
for item in sorted(list(uriage_purchase_dataset["item_name"].unique())):
    
    print(item + "의 최고가 : " + str(uriage_purchase_dataset.loc[uriage_purchase_dataset["item_name"] == item, ["item_price"]].max().values[0]) + " " + item + "의 최저가 : " + str(uriage_purchase_dataset.loc[uriage_purchase_dataset["item_name"] == item, ["item_price"]].min().values[0]))

상품A의 최고가 : 100.0 상품A의 최저가 : 100.0
상품B의 최고가 : 200.0 상품B의 최저가 : 200.0
상품C의 최고가 : 300.0 상품C의 최저가 : 300.0
상품D의 최고가 : 400.0 상품D의 최저가 : 400.0
상품E의 최고가 : 500.0 상품E의 최저가 : 500.0
상품F의 최고가 : 600.0 상품F의 최저가 : 600.0
상품G의 최고가 : 700.0 상품G의 최저가 : 700.0
상품H의 최고가 : 800.0 상품H의 최저가 : 800.0
상품I의 최고가 : 900.0 상품I의 최저가 : 900.0
상품J의 최고가 : 1000.0 상품J의 최저가 : 1000.0
상품K의 최고가 : 1100.0 상품K의 최저가 : 1100.0
상품L의 최고가 : 1200.0 상품L의 최저가 : 1200.0
상품M의 최고가 : 1300.0 상품M의 최저가 : 1300.0
상품N의 최고가 : 1400.0 상품N의 최저가 : 1400.0
상품O의 최고가 : 1500.0 상품O의 최저가 : 1500.0
상품P의 최고가 : 1600.0 상품P의 최저가 : 1600.0
상품Q의 최고가 : 1700.0 상품Q의 최저가 : 1700.0
상품R의 최고가 : 1800.0 상품R의 최저가 : 1800.0
상품S의 최고가 : 1900.0 상품S의 최저가 : 1900.0
상품T의 최고가 : 2000.0 상품T의 최저가 : 2000.0
상품U의 최고가 : 2100.0 상품U의 최저가 : 2100.0
상품V의 최고가 : 2200.0 상품V의 최저가 : 2200.0
상품W의 최고가 : 2300.0 상품W의 최저가 : 2300.0
상품X의 최고가 : 2400.0 상품X의 최저가 : 2400.0
상품Y의 최고가 : 2500.0 상품Y의 최저가 : 2500.0
상품Z의 최고가 : 2600.0 상품Z의 최저가 : 2600.0

In [94]:
# 고객정보 데이터셋의 고객이름 오류 수정
kokyaku_customer_dataset["고객이름"] = kokyaku_customer_dataset["고객이름"].str.replace(" ", "")
kokyaku_customer_dataset["고객이름"] = kokyaku_customer_dataset["고객이름"].str.replace("  ", "")

kokyaku_customer_dataset

    고객이름  지역                  등록일
0    김현성  H시  2018-01-04 00:00:00
1    김도윤  E시                42782
2    김지한  A시  2018-01-07 00:00:00
3    김하윤  F시                42872
4    김시온  E시                43127
5    김예성  A시  2017-06-20 00:00:00
6    김하람  H시  2018-06-11 00:00:00
7    김호준  B시  2017-05-19 00:00:00
8    김지완  G시  2018-02-12 00:00:00
9    김주호  G시  2017-07-05 00:00:00
10   김재원  E시  2018-03-31 00:00:00
11   김승민  A시  2017-04-22 00:00:00
12   김준형  C시  2018-03-09 00:00:00
13   김동건  D시  2017-03-13 00:00:00
14   김준서  E시  2018-01-24 00:00:00
15   김수혁  G시  2017-06-09 00:00:00
16   김진우  D시  2018-05-02 00:00:00
17   김윤호  G시  2017-02-05 00:00:00
18   김윤서  H시  2018-07-10 00:00:00
19   김준희  H시  2017-07-08 00:00:00
20   김윤우  A시  2018-03-12 00:00:00
21   김동우  A시                42920
22   김성빈  H시  2018-02-28 00:00:00
23   김태준  E시  2017-05-16 00:00:00
24   김태경  D시  2018-01-29 00:00:00
25   김승후  C시  2017-03-17 00:00:00
26   김현우  C시  2018-06-28 00:00:00
27   김서준  C시                42901
28   김주원  C시  2018-05-21 00:00:00
29   김태인  F시  2017-03-12 00:00:00
..   ...  ..                  ...
170  김시환  F시  2018-05-27 00:00:00
171  김수현  E시  2017-02-22 00:00:00
172  김서율  G시                43181
173  정준기  B시  2017-02-05 00:00:00
174  김성훈  B시  2018-01-09 00:00:00
175  김시호  H시  2017-06-12 00:00:00
176  김재호  C시  2018-02-14 00:00:00
177  김재우  D시  2017-04-14 00:00:00
178  김동하  F시  2018-03-15 00:00:00
179  김우현  C시                42743
180  김민기  G시  2018-07-19 00:00:00
181  김승환  B시  2017-05-23 00:00:00
182  김다온  A시  2018-05-01 00:00:00
183  김승우  B시                42940
184  김성준  H시  2018-05-24 00:00:00
185  김승호  F시  2017-04-08 00:00:00
186  김승주  E시                43294
187  김태윤  E시  2017-05-09 00:00:00
188  김민수  D시  2018-07-22 00:00:00
189  김현민  D시  2017-07-30 00:00:00
190  김유진  B시  2018-06-14 00:00:00
191  김지안  B시  2017-01-28 00:00:00
192  김현석  H시                43259
193  김선우  H시  2017-05-05 00:00:00
194  김지원  H시  2018-02-27 00:00:00
195  김재희  G시  2017-06-20 00:00:00
196  김도영  E시  2018-06-20 00:00:00
197  김이안  F시  2017-04-29 00:00:00
198  김시현  H시  2019-04-19 00:00:00
199  김서우  D시  2019-04-23 00:00:00

[200 rows x 3 columns]

In [104]:
# 고객정보 데이터셋 내 등록일 컬럼의 데이터 값을 같은 포맷으로 통일하는 방법
flg_is_just_digit = kokyaku_customer_dataset["등록일"].astype("str").str.isdigit()
print("flg_is_just_digit변수에 저장된 자료구조의 type ;", type(flg_is_just_digit), "\n")
print(flg_is_just_digit, "\n")
print("등록일 컬럼에서 단지 숫자로 표기된 데이터 값의 총 개수 :", flg_is_just_digit.sum())

flg_is_just_digit변수에 저장된 자료구조의 type ; <class 'pandas.core.series.Series'>

0      False
1       True
2      False
3       True
4       True
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21      True
22     False
23     False
24     False
25     False
26     False
27      True
28     False
29     False
       ...
170    False
171    False
172     True
173    False
174    False
175    False
176    False
177    False
178    False
179     True
180    False
181    False
182    False
183     True
184    False
185    False
186     True
187    False
188    False
189    False
190    False
191    False
192     True
193    False
194    False
195    False
196    False
197    False
198    False
199    False
Name: 등록일, Length: 200, dtype: bool

등록일 컬럼에서 단지 숫자로 표기된 데이터 값의 총 개수 : 22